{% extends "core/core_base.html" %}


{% block core_content %}
    {% if site.parent %}
        <div class='dns-title'>{{ site.get_full_name() }}</div>
        Parent site: <a href='{{ site.parent.get_absolute_url() }}'>{{ site.parent.get_full_name() }}</a>
        </br>
    {% else %}
        <div class='dns-title'>{{ site.get_full_name() }}</div>
    {% endif %}


    {% block action_bar %}
        {% if site.get_edit_url %}
            <a class="btn btn-primary" href="{{ site.get_edit_url() }}">Edit</a>
        {% endif %}

        {% block mid_action_bar %}
        {% endblock %}

        {% if site.get_delete_url %}
            <a class="btn btn-danger" href="{{ site.get_delete_url() }}">Delete</a>
        {% endif %}
    {% endblock %}


        <table class="table">
            <thead>
                {% for item, value in site.details() %}
                    <th>{{ item }}</th>
                {% endfor %}
            </thead>

            <tbody>
                <tr>
                {% for item, value in site.details() %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                {% for attr in attrs %}
                    <th>{{ attr.key }}</th>
                {% endfor %}
            </thead>

            <tbody>
                <tr>
                {% for attr in attrs %}
                    <td>{{ attr.value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        {% if child_sites %}
        <h3>Child sites</h3>
            <table class="table">
                <thead>
                        <th>Site</th>
                </thead>

                <tbody>
                    {% for child_site in child_sites %}
                        <td><a href='{{ child_site.get_absolute_url() }}'>{{ child_site.get_full_name() }}</a></td>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}


        <h3>Networks</h3>
        <table class="table">
            <thead>
                    <th>Vlan</th>
                    <th>Network(s)</th>
            </thead>

            <tbody>
                {% for vlan in vlans %}
                    {% for net in vlan.network_set.filter(site=site) %}
                    <tr>
                    {% if loop.first %}
                        <td><a href='{{ vlan.absolute_url() }}'>{{ vlan }}</a></td>
                    {% else %}
                        <td> </td>
                    {% endif %}
                    <td><a href='{{ net.absolute_url() }}'>{{ net }}</a></td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% if no_vlan_networks %}
            <h3>Networks with no Vlan</h3>
        {% from 'core/core_macros.html' import display_networks %}
        {{ display_networks(no_vlan_networks) }}
        {% endif %}
{% endblock %}
