<script src="{{ MEDIA_URL }}javascripts/insert_unsorted_search.js">
</script>
<script src="{{ MEDIA_URL }}javascripts/valid_ip.js">
</script>
<script>
    // So if people paste links around.
    console.log("Form loaded: I see rdtype=: {{record_type}} and pk=:{{record_pk}}");
    $(document).ready(function (){
        if ($('#id_ip_str') && !$('#id_ip_str').val()){
            $("<input type='button' id='ffip' value='Automatically Assign'/>").insertAfter('#id_ip_str').css('margin-left', '0.7em');

            // Pull in find IP stuff
            $('#ffip').click(function () {
              $('#choose-ip-area').css('display', 'block');
              $('#choose-ip-area').css('visibility', 'hidden');
              $.get('/core/range/ajax_find_related/', function (data){
                    $('#choose-ip').html(data);
                    // This function was pulled into existance by this ajax request
                    chosen_init({
                      hints: ['#id_fqdn', '#id_name'],
                      dialog_div_id: '#choose-ip',
                      target_el_id: '#id_ip_str',  // target_el_id
                      reset_button_id: '#choose-ip-reset',
                      display_range_id: '#choose-ip-display-ranges-area',
                      find_related_url: "/en-US{{ 'find-related' | url() }}",  // find_related_url
                      reset_callback: function (){
                        $('#related-things').empty();
                        $('#related-help-text').empty();
                        $('#id_ip_str').val('');

                        if ($('#id_fqdn').data('auto-name') === $('#id_fqdn').val()) {
                            $('#id_fqdn').val('');
                        }
                        if ($('#id_name').data('auto-name') === $('#id_name').val()) {
                            $('#id_name').val('');
                        }
                        $('#id_views_0').attr('checked', false);
                        $('#id_views_1').attr('checked', false);
                      },
                      found_ip_callback: function (range, name_fragment){
                        if(typeof range.free_ip == 'undefined') {
                          $('#id_ip_str').val('');
                        } else {
                          $('#id_ip_str').val(range.free_ip).change();
                          $('#id_ip_str').focus();
                        }
                        function suggest_name(target) {
                            if (name_fragment.length && !$(target).val()) {
                              var auto_name = '.' + name_fragment + '.mozilla.com';
                              $(target).val(auto_name);
                              $(target).focus();
                              $(target).data('auto-name', auto_name);
                            }
                        }
                        if ($('#id_fqdn').val() === '') {
                          suggest_name('#id_fqdn');
                        }
                        if ($('#id_name').val() === '') {
                          suggest_name('#id_name');
                        }
                      }
                    });
                    $('#choose-ip-area').css('transition', 'visibility 0.5s linear 0s');
                    $('#choose-ip-area').css('visibility', 'visible');
                    $('#choose-ip-area').css('transition', 'height 0.5s linear 0s');
              });
            });
        }
        var possible_input_ids = [
            '#id_ip_str',
            '#id_target',
            '#id_fqdn',
        ];
        search_watcher(possible_input_ids, $('#related-things'), function (search){
            console.log("callback here");
            console.log(search);
            if (search !== '') {
                $('#related-help-text').css('display', 'block');
                $('#related-help-text').html(
                    'Below are related objects found with the search <code>"' + search + '"</code>'
                );
            } else {
                $('#related-help-text').css('display', 'none');
            }
        });
    });
</script>
<style>
  #choose-ip-area {
    margin-top: 2em;
    background-color:white;
    border-radius: 5px;
    padding: 2em 2em 1em 2em;
  }
  #choose-ip-help-text {
    margin-top: 3em;
  }
  #choose-ip-reset-area {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  #choose-ip-display-ranges-area {
    width: 60%;
  }
  .range-choice {
    text-decoration: none;
    color: black;
  }
  .range {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 2px 2px 15px 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: #D8D8D8;
  }
  #choose-ip-errors {
    margin-top: 3em;
    color: red;
  }
</style>
<div id='find-free-ip-dialog' style='display:none;'>
    <label>Start: <input id='range_start' type='text'></label>
    <label>End: <input id='range_end' type='text'></label>
    <div id='free-ip-result'></div>
</div>
<div id='choose-ip-area' style='display:none;'>
  <div id='choose-ip'></div>
  <div id='choose-ip-errors'>
  </div>
  <div id='choose-ip-help-text'>
    <p>This little widget can help you find an IP address be location a valid IP Range.</p>
    <p>Instructions:</p>
    <ul>
      <li>Select a site from the first dropdown</li>
      <li>Select a vlan from the second dropdown</li>
      <li>Select a network from the third dropdown</li>
      <li>Finally, click on a range that you want to find an IP in</li>
    </ul>
  </div>
  <div id='choose-ip-display-ranges-area'>
  </div>
  <div id='choose-ip-reset-area'>
    <p>If at anytime you time you want to start over click  <button id='choose-ip-reset'>Reset</button></p>
  </div>
</div>

<div id='form-message' class='form-message'>
{% if message %}
    {{message}} <div style='display: inline;' id='action-time'></div>
{% endif %}
</div>
<style>
    ul.errorlist {
        color:red;
    }
    div.soa_status_dirty {
        color: red;
        display: inline;
    }
    div.soa_status_clean {
        color: green;
        display: inline;
    }
    div.object_meta {
        float:right;
        clear:both;
        border:2px solid gray;
        padding:10px;
        border-radius: 10px;
        background: white;
        margin: 10px;
        margin: 10px;
        min-height:100px;
        max-width:300px;
    }
    div.object_meta caption {
        max-width:320px;
    }
    div.form-container {
        float: left;
        margin-bottom: 30px;
    }
    div.form-container ul {
        width: 30em;
    }
    div#related-things {
        clear: both;
        padding: 10px;
        padding: 20px 10px 5px 10px;
        /*       top  rht  btm  lft */
    }
    div#related-things {
        clear: both;
    }
    div#related {
        margin-top: 10px;
        clear: both;
    }
    div#related-help-text {
        width: 100%;
        background-color: white;
        vertical-align: middle;
        border-radius: 5px;
        text-align: center;
        vertical-align:text-middle;
        clear: both;
    }
    .matched-ip {
        background-color: #67ff5f;
    }

</style>
{% if object_ %}
    {% set d = object_.reverse_domain if record_type == 'PTR' else object_.domain %}
<div class='container'>
    {% block object_meta %}
    <div class='object_meta' >
        <!--- lolol, I suck at the web!
        seriously, this all needs to be rewritten
        The object_redirect_url is detected after the form is inserted into the web page, and if it's detected during a create it's used as a redirect target.
        -->
        {% if object_.pk %}
        <div id='object_redirect_url' record-url='{{object_.get_fancy_edit_url()}}' style='display:none'>
        </div>
        {% endif %}

        <table class='tablesorter'>
            <tr>
                <td style='text-align: center'>
                    <a class='btn btn-small' href='{{ object_.get_history_url() }}'>Record History</a>
                </td>
            </tr>
        </table>

        <table class='tablesorter'>
            <caption>{{object_.bind_render_record()}}</caption>
            {% if d.soa  %}
            <tr>
                <td>
                    <a href='{{ d.soa.get_absolute_url() }}'>{{ d.soa }}</a>
                </td>
                <td>
                        {% if d.soa.dirty %}
                        <div class='soa_status_dirty'>REBUILD NEEDED</div>
                        {% else %}
                        <div class='soa_status_clean'>UP TO DATE</div>
                        {% endif %}
                </td>
                <td>
                    <a class='btn btn-small' href='{{ d.soa.get_debug_build_url() }}'>Debug</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>
                    This record doesn't belong to any zone.
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    {% endblock %}
{% endif %}
    <div class="form-container">
        <form id='current-form'>
            <input type="hidden" id="record_type" name="record_type" value="{{record_type}}"/>
            <input type="hidden" id="record_pk" name="record_pk" value="{{record_pk}}"/>
            <table>
            {{ form.as_table() }}
            </table>
            <input id='submit-button' type="submit" value="Commit"/>
        <form>
    </div>
</div>
<div id='related'>
    <div id='related-help-text' style='display: none'>
    </div>
    <div id='related-things' style='display: none'>
    </div>
</div>
