<script>
    // So if people paste links around.
    console.log("Form loaded: I see rdtype=: {{record_type}} and pk=:{{record_pk}}");
    $(document).ready(function (){
        if ($('#id_ip_str') && !$('#id_ip_str').val()){
            $(
            "<input type='button' id='ffip' value='FFIP'/>"
            ).insertAfter('#id_ip_str').css('margin-left', '0.7em');
            $('#ffip').click(function () {
                make_free_ip_search(
                    $('#id_ip_str'),
                    $('#range_start'),
                    $('#range_end'),
                    $('#find-free-ip-dialog'),
                    $('#free-ip-result')
                );
            });
        }
    });
</script>
<div id='find-free-ip-dialog' style='display:none;'>
    <label>Start: <input id='range_start' type='text'></label>
    <label>End: <input id='range_end' type='text'></label>
    <div id='free-ip-result'></div>
</div>

<div id='form-message' class='form-message'>
{% if message %}
    {{message}} <div style='display: inline;' id='action-time'></div>
{% endif %}
</div>
<style>
    ul.errorlist {
        color:red;
    }
    div.soa_status_dirty {
        color: red;
        display: inline;
    }
    div.soa_status_clean {
        color: green;
        display: inline;
    }
    div.object_meta {
        float:right;
        clear:both;
        border:2px solid gray;
        padding:10px;
        border-radius: 10px;
        background: white;
        margin: 10px;
        margin: 10px;
        min-height:100px;
        max-width:300px;
    }
    div.object_meta caption {
        max-width:320px;
    }
    div.form-container {
        float: left;
    }
    div.form-container ul {
        width: 30em;
    }
</style>
{% if object_ %}
    {% set d = object_.reverse_domain if record_type == 'PTR' else object_.domain %}
<div class='container'>
    {% block object_meta %}
    <div class='object_meta' >
        <!--- lolol, I suck at the web!
        seriously, this all needs to be rewritten
        The object_redirect_url is detected after the form is inserted into the web page, and if it's detected during a create it's used as a redirect target.
        -->
        {% if object_.pk %}
        <div id='object_redirect_url' record-url='{{object_.get_fancy_edit_url()}}' style='display:none'>
        </div>
        {% endif %}

        <table class='tablesorter'>
            <tr>
                <td>
                    Record History: <a href='{{ object_.get_history_url() }}'> click </a>
                </td>
            </tr>
        </table>

        <table class='tablesorter'>
            <caption>{{object_.bind_render_record()}}</caption>
            {% if d.soa  %}
            <tr>
                <td>
                    <a href='{{ d.soa.get_absolute_url() }}'>{{ d.soa }}</a>
                </td>
                <td>
                        {% if d.soa.dirty %}
                        <div class='soa_status_dirty'>REBUILD NEEDED</div>
                        {% else %}
                        <div class='soa_status_clean'>UP TO DATE</div>
                        {% endif %}
                </td>
                <td>
                    <a href='{{ d.soa.get_debug_build_url() }}'>Debug</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>
                    This record doesn't belong to any zone.
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    {% endblock %}
{% endif %}
    <div class="form-container">
        <form id='current-form'>
            <input type="hidden" id="record_type" name="record_type" value="{{record_type}}"/>
            <input type="hidden" id="record_pk" name="record_pk" value="{{record_pk}}"/>
            <table>
            {{ form.as_table() }}
            </table>
            <input id='submit-button' type="submit" value="Commit"/>
        <form>
    </div>
</div>
