<script src="{{ MEDIA_URL }}javascripts/insert_unsorted_search.js"></script>
<script src="{{ MEDIA_URL }}javascripts/valid_ip.js"></script>
<link href="{{ MEDIA_URL }}css/record.css" media="screen" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}javascripts/record.js"></script>
<script src="{{ MEDIA_URL }}javascripts/view_blink.js"></script>
<script>
    page_js_init("/en-US{{ 'find-related' | url() }}");
    view_blink_init('#id_views_0', '#id_views_1', function (empty_views){
        console.log("HEHRHEHREHR :" + empty_views);
        if (empty_views) {
            $('#empty-view-warning').css('display', 'block');
        } else {
            $('#empty-view-warning').css('display', 'none');
        }
    });
</script>

<div id='find-free-ip-dialog' style='display:none;'>
    <label>Start: <input id='range_start' type='text'></label>
    <label>End: <input id='range_end' type='text'></label>
    <div id='free-ip-result'></div>
</div>
<div id='choose-ip-area' style='display:none;'>
  <div id='choose-ip'></div>
  <div id='choose-ip-errors'>
  </div>
  <div id='choose-ip-help-text'>
    <p>This little widget can help you find an IP address be location a valid IP Range.</p>
    <p>Instructions:</p>
    <ul>
      <li>Select a site from the first dropdown</li>
      <li>Select a vlan from the second dropdown</li>
      <li>Select a network from the third dropdown</li>
      <li>Finally, click on a range that you want to find an IP in</li>
    </ul>
  </div>
  <div id='choose-ip-display-ranges-area'>
  </div>
  <div id='choose-ip-reset-area'>
    <p>If at anytime you time you want to start over click  <button id='choose-ip-reset'>Reset</button></p>
  </div>
</div>

<div id='form-message' class='form-message'>
{% if message %}
    {{message}} <div style='display: inline;' id='action-time'></div>
{% endif %}
</div>
{% if object_ %}
    {% set d = object_.reverse_domain if record_type == 'PTR' else object_.domain %}
<div class='container'>
    {% block object_meta %}
    <div class='object_meta' >
        <!--- lolol, I suck at the web!
        seriously, this all needs to be rewritten
        The object_redirect_url is detected after the form is inserted into the web page, and if it's detected during a create it's used as a redirect target.
        -->
        {% if object_.pk %}
        <div id='object_redirect_url' record-url='{{object_.get_fancy_edit_url()}}' style='display:none'>
        </div>
        {% endif %}

        <table class='tablesorter'>
            <tr>
                <td style='text-align: center'>
                    <a class='btn btn-small' href='{{ object_.get_history_url() }}'>Record History</a>
                </td>
            </tr>
        </table>

        <table class='tablesorter'>
            <caption>{{object_.bind_render_record()}}</caption>
            {% if d.soa  %}
            <tr>
                <td>
                    <a href='{{ d.soa.get_absolute_url() }}'>{{ d.soa }}</a>
                </td>
                <td>
                        {% if d.soa.dirty %}
                        <div class='soa_status_dirty'>REBUILD NEEDED</div>
                        {% else %}
                        <div class='soa_status_clean'>UP TO DATE</div>
                        {% endif %}
                </td>
                <td>
                    <a class='btn btn-small' href='{{ d.soa.get_debug_build_url() }}'>Debug</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>
                    This record doesn't belong to any zone.
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
    {% endblock %}
{% endif %}
    <div class="form-container">
        <form id='current-form'>
            <input type="hidden" id="record_type" name="record_type" value="{{record_type}}"/>
            <input type="hidden" id="record_pk" name="record_pk" value="{{record_pk}}"/>
            <table>
            {{ form.as_table() }}
            </table>
            <input id='submit-button' type="submit" value="Commit"/>
        <form>
    </div>
</div>
<div id='related'>
    <div id='related-help-text' style='display: none'>
    </div>
    <div id='related-things' style='display: none'>
    </div>
</div>
