{% extends "mozdns/mozdns_base.html" %}

{% block head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}javascripts/jquery.tablesorter/jquery.tablesorter.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/javascripts/dns_form_utils.js"></script>
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.11.custom.css" type="text/css" />
{% endblock %}

{% block content %}
    <script>
    $(document).ready(function(){
        if ($('#dns-data').attr('record_pk')){
            select_state('update'); // There is a pk, initial state is edit
            $('#delete-control').css('visibitily', 'visible');
        } else {
            select_state('create'); // Initial state is searching
            $('#delete-control').css('visibitily', 'hidden');
        }
        $('#create-button').click(function(){select_state('create')});
    });
    </script>

    <div id="object-controls">
        <div>
        <label/>Search {{record_type}}s</label>
        <span><a href="/mozdns/record/search/{{record_type}}/" class="dns-action-button" id="search-button"><img src="{{MEDIA_URL}}images/buttons/button-search-icon.png"/></a></span>
        </div>

        <div>
        <label>Delete this {{record_type}}</label>
            <span><a class="dns-action-button" id="delete-button"><img src="{{MEDIA_URL}}images/buttons/button-delete-icon.png"/></a></span>
        </div>
        <div>
        <label/>Add new {{record_type}}</label>
            <span><a class="dns-action-button" id="create-button"><img src="{{MEDIA_URL}}images/buttons/button-add-icon.png"/></a></span>
        </div>
    </div>

    <div id='dns-data' record_type="{{record_type}}" record_pk="{{record_pk}}"></div>


    <div id="form-area">
        <div id="commit-dialog" style='display: none;'>
            <textarea id='commit-message'></textarea>
        </div>
        <div id="delete-dialog" style='display: none;'>
            <textarea height="60px" id='delete-message'></textarea>
        </div>

        <label>Add commit message: <input type='checkbox' id='add-comment' value='' checked='checked'/></label>
        <div id="current-form-area">
        </div>
    </div>
{% endblock %}
