{% extends "base.html" %}

{% block head %}
    <script src="{{ MEDIA_URL }}javascripts/jquery.tablesorter/jquery.tablesorter.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/javascripts/dns_form_utils.js"></script>
{% endblock %}

{% block content %}
    <script>
    $(document).ready(function(){
        // A little bit of js to handle the timing of doing search results
        var timerHandle;
        var timeOutInterval = 200; // 2 seconds
        function do_rtype_search(){
            $('.overflow-info').remove();
            do_search(function show_overflow_info(){
                if($('.overflow-info').data('total-obj-count') == $('.overflow-info').data('obj-count')) {
                    var extra = '';
                } else {
                    var extra = ' (<a href="' + $('.overflow-info').data('all-results') + '">' +
                                'See all results)'
                }
                $('#overflow-info-display').html(
                    'Showing ' + $('.overflow-info').data('obj-count') +
                    ' out of ' + $('.overflow-info').data('total-obj-count') +
                    ' matched results ' + extra
                );
            });
        }
        $('#search-query').keyup(function(){
            clearTimeout(timerHandle);
            if ($('#search-query').val()){
                timerHandle = setTimeout(do_rtype_search, timeOutInterval);
            }
        });
        setup_search_table();
        $('#create-button').click(function(){
            window.location = '/mozdns/record/create/{{record_type}}/';
        });
    });
    </script>

    <div id='dns-data' record_type="{{record_type}}" record_pk="{{record_pk}}"></div>

    <div id="object-controls" style="float:right;">
        <label/>Add new {{record_type}}</label>
        <a href="/mozdns/record/create/{{record_type}}/" class="dns-action-button" id="create-button"><img src="{{MEDIA_URL}}images/buttons/button-add-icon.png"/></a>
        </div>
    </div>

    <br />
    <div id='record-search'>
        <label for='search-query'>Search {{record_type}}'s: <input id='search-query' width="200px" /></label>
        <div id='overflow-info-display' style='margin-top: 5px;'>
        </div>
        <div id='search-results' class="containter">
            <table class="tablesorter" id="record-table">
            </table>
        </div>
    </div>

{% endblock %}
