{% extends "base.html" %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block site_tabs %}
        <div class="dns-menu">
                <div class="logo"><a href="/"><i class="icon-glass"></i></a></div>

                <!-- DNS NAV -->
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/domain/">Domains</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/address_record/">Address Records</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/domain/reverse_domains/">Reverse Domains</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/mx/">MX</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/soa/">SOA</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/nameserver/">NS</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/srv/">SRV</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/txt/">TXT</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/cname/">CNAME</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/ptr/">PTR</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/mozdns/view/">Views</a>
                        </span>

        </div>
{% endblock %}

{% block content %}
<div class='dns-content'>
    {% block dns_content %}
    {% endblock %}
</div>
{% endblock %}
