{% macro render_table(headers, matrix, urls, views=True) %}

<!-- Bootstrap table for displaying data -->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            {% for header in headers %}
                {# print header #}
                <th>{{ header }}</th>
            {% endfor %}
            {# if views %}
                <th>Views</th>
            {% endif #}
        </tr>
    </thead>

    <tbody>
        {% for row in matrix %}
            <tr>
                <th><a href='{{ urls[loop.index0] }}'>{{ row[0] }}</a></th>
                {% for col in row %}
                    {% if loop.first %}
                        {# Do nothing #}
                    {% else %}
                        {# print data #}
                        <th>{{ col }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endmacro %}
