table.hwadapter {
    margin-left: 10em;
    width: 75%;
}

.sreg-action {
    float: right;
}

.hwadapter-action {
    float: right;
}
.add-hwadapter {
    cursor: pointer;
}
.registration-display a {
    font-weight:bold;
    text-decoration:none;
}


.registration-table tbody tr {
    text-align: right;
}

.field-name {
    text-align: right;
}

.field-value {
    text-align: left;
}

.field-blank td {
    border-top: 0px;
    border-bottom: 0px;
}

.registration-table tbody tr > td:first-child {
    width: 35%;
    text-align: center;
}

#registration-divide {
    border-top: 1px;
    border-top-width: 1px;
}
