body {
    overflow-y: scroll;
}
html, body {
    margin: 0; height: 100%;
}

.header-bar {
    background-color: #222;
    height: auto;
    display:table-inline;
    margin-bottom: 22px;
}

.header {
    width: 950px;
    margin: 0 auto;
    height: inherit;
}

.header h1 {
    display: inline;
    float: left;
    margin-right: 10px;
}

.header h1 a {
    display: inline;
    text-decoration: none;
    vertical-align: center;
    color: white;
    height: inherit;
}

.nav-header {
    height:3.7em;
    display:inline;
}

#search-box {
    display: block;
    float: right;
    margin-top: 9px;
    margin-right: 10px;
}

#search-box input {
}

#search-box-result {
    display: block;
    z-index: 200;
    position:absolute;
    width: 0px;
    height: 0px;
}

#search-box-result > ul {
    background-color: white;
    background-image:none;
}

#search-box-result > ul a {
  color: black;
}

#search-box-result > ul a:hover {
  color: black;
}

.search-box .ui-autocomplete {
    position: absolute;
}

.search-box ul.ui-autocomplete li.ui-menu-item{
  text-align:right;
}


#main {
  background-color: #eeeeee;
  border: 1px solid #999;
  padding: 1em;
  -moz-box-shadow: 0 0 1em black;
  -webkit-box-shadow: 0 0 1em black; }

ul#app-buttons {
    text-align:center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    display: inline-block;
    border-bottom: 1px solid #778;
    padding-top: 4px; }

#app-buttons li ul {
    display: block;
    visibility: hidden;
    padding-left:0;
    position:absolute;
    z-index: 200;
    margin-top:2px;
}
#app-buttons li ul li{
    display: block;
    float: none;
    z-index: 200;
}
#app-buttons li ul li a{
    display: block;
    float: none;
    z-index: 200;
    background: -moz-linear-gradient( top, #ADACAB, #A5A4A3 );
    color: black;
    border: 0px solid #778;
}


ul#app-buttons li {
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    float: left;
    padding-left: 2px;
    padding-right: 2px; }
ul#app-buttons li.first {
    padding-left: 0px; }
ul#app-buttons li.last {
    padding-right: 0px; }
ul#app-buttons a:hover {
    padding: 3px 0.5em;
    margin-left: 3px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border: 0px solid #778;
    border-bottom: none;
    background-color: #608925;
    background: -moz-linear-gradient( top, #608925, #43762A );
    -moz-box-shadow: 0 0 4px black;
    -webkit-box-shadow: 0 0 4px black;
    text-decoration: none;
    color: white;
    font-weight: bold; }
ul#app-buttons a {
    padding: 3px 0.5em;
    margin-left: 3px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border: 0px solid #778;
    border-bottom: none;
    background-color: #608925;
    background: -moz-linear-gradient( top, #608925, #98ba40 );
    -moz-box-shadow: 0 0 4px black;
    -webkit-box-shadow: 0 0 4px black;
    text-decoration: none;
    color: white;
    font-weight: bold; }

table.tablesorter {
  font-family: arial;
  background-color: #CDCDCD;
  margin: 10px 0pt 15px;
  font-size: 8pt;
  text-align: left;
  border: 1px solid #bbbbbb; }
  table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #b3bbbb;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px; }
  table.tablesorter thead tr .header {
    background-image: url(images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; }
  table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top; }
  table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6; }
  table.tablesorter thead tr .headerSortUp {
    background-image: url(images/asc.gif); }
  table.tablesorter thead tr .headerSortDown {
    background-image: url(images/desc.gif);
    background-color: #8dbdd8; }
  table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8; }
  table.tablesorter td, table.tablesorter td {
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb; }
    table.tablesorter td:last-child, table.tablesorter td.last, table.tablesorter td:last-child, table.tablesorter td.last {
      border-right-width: 0px; }

table.racktable {
  border: 1px solid black; }
  table.racktable td, table.racktable td {
    border-right: 1px solid black;
    border-bottom: 1px solid black; }
    table.racktable td:last-child, table.racktable td.last, table.racktable td:last-child, table.racktable td.last {
      border-right-width: 0px; }
  table.racktable th {
    background-color: #c4c4c4;
    text-align: center; }
  table.racktable select {
    max-width: 220px; }

.show {
  padding: 3em;
  margin: 3em;
  background-color: #fefefe;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black; }

dl.show {
  font-size: 11px; }
  dl.show dt {
    clear: left;
    float: left;
    width: 120px;
    padding: 1px 0 3px; }
  dl.show dd {
    float: left;
    padding-left: 10px; }

.editform {
  padding: 3em;
  margin: 3em;
  background-color: #fefefe;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black; }

.formline {
  clear: left;
  margin-bottom: .75em; }
  .formline label {
    border-bottom: medium none;
    float: left;
    padding-right: 1em;
    text-align: right;
    width: 9em;
    font-weight: bold; }
  .formline textarea, .formline input, .formline select {
    margin: 0; }
  .formline .sub_form {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    display: block;
    padding: 10px 20px 10px 10px;
    margin-bottom: 5px;
    width: 400px;
    float: left; }
    .formline .sub_form label {
      width: 50px;
      clear: left;
      float: left;
      text-align: left; }

/* Record Update/Create controls */
#object-controls {
    margin-top: 30px;
    margin-right: 40px;
    float: right;
}

#object-controls div {
    margin-top: 30px;
    margin-left: 10px;
    display: inline;
}

#search-results {
    margin-top: 30px;
}

#add-comment {
    margin-top: 20px;
}

/* Buttons */
.dns-action-button img {
    height: 16px;
    vertical-align: middle; /* align the text vertically centered */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
}


.button-delete img {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    height: 16px;
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    outline: 0;
}

/* DNS forms */

.form-container {
    margin-top: 20px;
}


.form-container input{
    margin: 0;
}

.form-container ul {
    margin: 0px;
    padding: 0px;
}

.releng_div_label {
	padding: 0 15px 0 0;
	margin: 0 15px 0 0;
}
.network_adapters_div {
	margin: -15px 0 10px 120px;
	min-height: 100px;
	width: 850px;
	border: 1px solid #AAA;
}
.releng_div {
	margin: -15px 0 10px 120px;
	height: 205px;
	width: 360px;
	border: 1px solid #AAA;
}
.releng_div label {
	float: left;
	text-align: right;
	margin: 5px 10px 0 5px;
	width: 140px;
}
ul {
    list-style-type: none;
}



/* Pagination */
.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}

span.helptext {
    display: none;
}

.plane-link {
    color: rgb(0, 0, 0);
}

ul.errorlist {
    color: red;
}

.inv-title {
  font-size: large;
  margin-bottom: 1em;
}
