[submodule "vendor"]
	path = vendor
	url = git@github.com:rtucker-mozilla/mozilla_inventory_lib.git
[submodule "vendor-local/src/django-south"]
	path = vendor-local/src/django-south
	url = git://github.com/lambdafu/django-south.git
