{% extends "jinja_base.html" %}
{% block subtitle %}: system list{% endblock %}
{% block content %}
<script src="/static/javascripts/jquery.dataTables.js"></script>
<style type="text/css">
@import "/static/css/smoothness/jquery-ui-1.8.11.custom.css";
.production {
	font-weight: bold;
	text-decoration: underline;
	font-color: #FFF;

}
.dataTables_length {
	float: left;
	padding: 0 0 0 5px;
}
.dataTables_filter {
	float: right;
	padding: 0 5px 0 0px;
}
.ui-icon {
	float: right;

}
.ui-toolbar {
	margin-bottom: none;
	padding-bottom: none;

}
.DataTables_sort_wrapper {
	min-width: 70px;
	text-align: center;
	font-weight: bold;
	font-color: #000;
	color: #000;
	cursor: pointer;
	background: url("/static/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png");
	margin: 0px;
	padding: 0px;


}

th.ui-state-default {
	margin: 0px;
	padding: 0px;
	background-color: none;
	border: 1px solid #BBBBBB !important;
	background: url("/static/css//smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png");
}
#example {
	border-collapse:collapse;
	margin-top: 0px;
	border-top: none;
	margin-bottom: 0px;
	border-bottom: none;

}
#example_paginate {
	font-color: #000;

}
#datagrid_processing {
	padding: 5px 0 0 20px;
	margin-left: 10px;
	z-index: 400;
}
.paging_four_button {
    cursor: pointer;
    padding-left: 5px;

}
.paginate_enabled_next, .paginate_enabled_previous, .paginate_disabled_previous, .paginate_disabled_next{
    padding-left: 5px;
}
</style>
<h2>Listing systems</h2>
{% if not read_only %}<a href="{{ "systems.views.system_new"|url() }}">Create New</a>{% endif %}

<br />
<div id="search_hits"></div>
<table class="display" id="datagrid">
	<thead>
        <tr>
            <th>Host Name</th> 
            <th>Serial</th> 
            <th>Asset</th> 
            <th>Model</th> 
            <th>Rack</th> 
            <th>OOB IP</th> 
            <th>Status</th> 
            <th>Actions</th> 
        </tr>
	</thead>
	<tbody>
<tr>
			<td colspan="5" class="dataTables_empty">Loading data from server</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	//$().ready(function(){
$(document).ready(function() {
$.fn.dataTableExt.oApi.fnSetFilteringDelay = function ( oSettings, iDelay ) {
	/*
	 * Type:        Plugin for DataTables (www.datatables.net) JQuery plugin.
	 * Name:        dataTableExt.oApi.fnSetFilteringDelay
	 * Version:     2.2.1
	 * Description: Enables filtration delay for keeping the browser more
	 *              responsive while searching for a longer keyword.
	 * Inputs:      object:oSettings - dataTables settings object
	 *              integer:iDelay - delay in miliseconds
	 * Returns:     JQuery
	 * Usage:       $('#example').dataTable().fnSetFilteringDelay(250);
	 * Requires:	  DataTables 1.6.0+
	 *
	 * Author:      Zygimantas Berziunas (www.zygimantas.com) and Allan Jardine (v2)
	 * Created:     7/3/2009
	 * Language:    Javascript
	 * License:     GPL v2 or BSD 3 point style
	 * Contact:     zygimantas.berziunas /AT\ hotmail.com
	 */
	var
		_that = this,
		iDelay = (typeof iDelay == 'undefined') ? 250 : iDelay;
	
	this.each( function ( i ) {
		$.fn.dataTableExt.iApiIndex = i;
		var
			$this = this, 
			oTimerId = null, 
			sPreviousSearch = null,
			anControl = $( 'input', _that.fnSettings().aanFeatures.f );
		
			anControl.unbind( 'keyup' ).bind( 'keyup', function() {
			var $$this = $this;

			if (sPreviousSearch === null || sPreviousSearch != anControl.val()) {
				window.clearTimeout(oTimerId);
				sPreviousSearch = anControl.val();	
				oTimerId = window.setTimeout(function() {
					$.fn.dataTableExt.iApiIndex = i;
					_that.fnFilter( anControl.val() );
				}, iDelay);
			}
		});
		
		return this;
	} );
	return this;
}
the_state = serialize([{'iDisplayStart':0, 'iDisplayEnd':0}]);
if (history.pushState) {
    history.pushState(the_state, "settings", "#inventory");
}

function serialize(_obj)
{
   // Let Gecko browsers do this the easy way
   if (typeof _obj.toSource !== 'undefined' && typeof _obj.callee === 'undefined')
   {
      return _obj.toSource();
   }

   // Other browsers must do it the hard way
   switch (typeof _obj)
   {
      // numbers, booleans, and functions are trivial:
      // just return the object itself since its default .toString()
      // gives us exactly what we want
      case 'number':
      case 'boolean':
      case 'function':
         return _obj;
         break;

      // for JSON format, strings need to be wrapped in quotes
      case 'string':
         return '\'' + _obj + '\'';
         break;

      case 'object':
         var str;
         if (_obj.constructor === Array || typeof _obj.callee !== 'undefined')
         {
            str = '[';
            var i, len = _obj.length;
            for (i = 0; i < len-1; i++) { str += serialize(_obj[i]) + ','; }
            str += serialize(_obj[i]) + ']';
         }
         else
         {
            str = '{';
            var key;
            for (key in _obj) { str += key + ':' + serialize(_obj[key]) + ','; }
            str = str.replace(/\,$/, '') + '}';
         }
         return str;
         break;

      default:
         return 'UNKNOWN';
         break;
   }
}
        //add_tablesorter($('.listtable')[0]);
        //add_quicksearch($("#quicksearch"), $("#search_hits"), "/systems/quicksearch/");
$.fn.dataTableExt.oPagination.four_button = {
    /*
     * Function: oPagination.four_button.fnInit
     * Purpose:  Initalise dom elements required for pagination with a list of the pages
     * Returns:  -
     * Inputs:   object:oSettings - dataTables settings object
     *           node:nPaging - the DIV which contains this pagination control
     *           function:fnCallbackDraw - draw function which must be called on update
     */
    "fnInit": function ( oSettings, nPaging, fnCallbackDraw )
    {
        nFirst = document.createElement( 'span' );
        nPrevious = document.createElement( 'span' );
        nNext = document.createElement( 'span' );
        nLast = document.createElement( 'span' );
         
        nFirst.appendChild( document.createTextNode( oSettings.oLanguage.oPaginate.sFirst ) );
        nPrevious.appendChild( document.createTextNode( oSettings.oLanguage.oPaginate.sPrevious ) );
        nNext.appendChild( document.createTextNode( oSettings.oLanguage.oPaginate.sNext ) );
        nLast.appendChild( document.createTextNode( oSettings.oLanguage.oPaginate.sLast ) );
         
        nFirst.className = "paginate_button first";
        nPrevious.className = "paginate_button previous";
        nNext.className="paginate_button next";
        nLast.className = "paginate_button last";
         
        nPaging.appendChild( nFirst );
        nPaging.appendChild( nPrevious );
        nPaging.appendChild( nNext );
        nPaging.appendChild( nLast );
         
        $(nFirst).click( function () {
            if (history.pushState) {
                iDisplayLength = otable.dataTableSettings[0]._iDisplayLength;
                search = otable.dataTableSettings[0].oPreviousSearch.search;
                iDisplayStart = otable.dataTableSettings[0]._iDisplayStart + iDisplayLength;
                iDisplayEnd = otable.dataTableSettings[0]._iDisplayEnd + iDisplayLength;
                the_state = {'iDisplayStart':iDisplayStart, 'iDisplayEnd':iDisplayEnd, 'iDisplayLength':iDisplayLength};
                history.pushState(the_state, "settings", "#inventory?start=" + iDisplayStart + "&end=" + iDisplayEnd + "&iDisplayLength=" + iDisplayLength + "&search=" + search);
            }
            oSettings.oApi._fnPageChange( oSettings, "first" );
            fnCallbackDraw( oSettings );
        } );
         
        $(nPrevious).click( function() {
            if (history.pushState) {
                iDisplayLength = otable.dataTableSettings[0]._iDisplayLength;
                search = otable.dataTableSettings[0].oPreviousSearch.search;
                iDisplayStart = otable.dataTableSettings[0]._iDisplayStart - iDisplayLength;
                iDisplayEnd = otable.dataTableSettings[0]._iDisplayEnd + iDisplayLength;
                the_state = {'iDisplayStart':iDisplayStart, 'iDisplayEnd':iDisplayEnd, 'iDisplayLength':iDisplayLength};
                history.pushState(the_state, "settings", "#inventory?start=" + iDisplayStart + "&end=" + iDisplayEnd + "&iDisplayLength=" + iDisplayLength + "&search=" + search);
            }
            oSettings.oApi._fnPageChange( oSettings, "previous" );
            fnCallbackDraw( oSettings );
        } );
         
        $(nNext).click( function() {
            if (history.pushState) {
                iDisplayLength = otable.dataTableSettings[0]._iDisplayLength;
                search = otable.dataTableSettings[0].oPreviousSearch.search;
                iDisplayStart = otable.dataTableSettings[0]._iDisplayStart + iDisplayLength;
                iDisplayEnd = otable.dataTableSettings[0]._iDisplayEnd + iDisplayLength;
                the_state = {'iDisplayStart':iDisplayStart, 'iDisplayEnd':iDisplayEnd, 'iDisplayLength':iDisplayLength};
                history.pushState(the_state, "settings", "#inventory?start=" + iDisplayStart + "&end=" + iDisplayEnd + "&iDisplayLength=" + iDisplayLength + "&search=" + search);
            }
            oSettings.oApi._fnPageChange( oSettings, "next" );
            fnCallbackDraw( oSettings );
        } );
         
        $(nLast).click( function() {
            if (history.pushState) {
                iDisplayLength = otable.dataTableSettings[0]._iDisplayLength;
                search = otable.dataTableSettings[0].oPreviousSearch.search;
                iDisplayStart = otable.dataTableSettings[0]._iDisplayStart + iDisplayLength;
                iDisplayEnd = otable.dataTableSettings[0]._iDisplayEnd + iDisplayLength;
                the_state = {'iDisplayStart':iDisplayStart, 'iDisplayEnd':iDisplayEnd, 'iDisplayLength':iDisplayLength};
                history.pushState(the_state, "settings", "#inventory?start=" + iDisplayStart + "&end=" + iDisplayEnd + "&iDisplayLength=" + iDisplayLength + "&search=" + search);
            }
            oSettings.oApi._fnPageChange( oSettings, "last" );
            fnCallbackDraw( oSettings );
        } );
         
        /* Disallow text selection */
        $(nFirst).bind( 'selectstart', function () { return false; } );
        $(nPrevious).bind( 'selectstart', function () { return false; } );
        $(nNext).bind( 'selectstart', function () { return false; } );
        $(nLast).bind( 'selectstart', function () { return false; } );
    },
     
    /*
     * Function: oPagination.four_button.fnUpdate
     * Purpose:  Update the list of page buttons shows
     * Returns:  -
     * Inputs:   object:oSettings - dataTables settings object
     *           function:fnCallbackDraw - draw function which must be called on update
     */
    "fnUpdate": function ( oSettings, fnCallbackDraw )
    {
        if ( !oSettings.aanFeatures.p )
        {
            return;
        }
         
        /* Loop over each instance of the pager */
        var an = oSettings.aanFeatures.p;
        for ( var i=0, iLen=an.length ; i<iLen ; i++ )
        {
            var buttons = an[i].getElementsByTagName('span');
            if ( oSettings._iDisplayStart === 0 )
            {
                buttons[0].className = "paginate_disabled_previous";
                buttons[1].className = "paginate_disabled_previous";
            }
            else
            {
                buttons[0].className = "paginate_enabled_previous";
                buttons[1].className = "paginate_enabled_previous";
            }
             
            if ( oSettings.fnDisplayEnd() == oSettings.fnRecordsDisplay() )
            {
                buttons[2].className = "paginate_disabled_next";
                buttons[3].className = "paginate_disabled_next";
            }
            else
            {
                buttons[2].className = "paginate_enabled_next";
                buttons[3].className = "paginate_enabled_next";
            }
        }
    }
};
function get_settings(){
   return otable;
}
var settings; 

settings = {


"aoColumns": [
{ "sSortDataType": "dom-text" },
{ "sSortDataType": "dom-text" },
{ "sSortDataType": "dom-text" },
{ "sSortDataType": "dom-text" },
{ "sSortDataType": "dom-text" },
{ "sSortDataType": "dom-text" },
{ "sSortDataType": "dom-text" },
{ "asSorting": [], 'bSortable':false }
],
"sPaginationType": "four_button",
"bDestroy": true,
"fnRowCallback": function( nRow, aData, iDisplayIndex ) {
/* Append the grade to the default row class name */
    if ( aData[0] > '' )
    {
        var arr = aData[0].split(/,/)
            $('td:eq(0)', nRow).html('<a href="/systems/show/' + arr[0] + '/">' + arr[1] + '</a>');
    }
    if ( aData[4] > '' )
    {
        var arr = aData[4].split(/,/)
            $('td:eq(4)', nRow).html('<a href="/systems/racks/?rack=' + arr[0] + '">' + arr[1] + '</a>');
    }
    if ( aData[6] == "production" )
    {
        $('td', nRow).addClass( 'production' );
    }
    if ( aData[5] > '' && aData[5].length > 1){
        $('td:eq(5)', nRow).html('<a target="_blank" href="https://' + aData[5] + '/">' + aData[5] + '</a>');
    } else {
        $('td:eq(5)', nRow).html('');
    }

    if ( aData[7] > 0){
        var add_string = '<a href="/systems/show/' + aData[7] + '/">Show</a>&nbsp;&nbsp;<a href="/systems/edit/' + aData[7] + '/">Edit</a>&nbsp;<a href="/systems/delete/' + aData[7]+ '/" onclick="return confirm(\'Are you sure?\');">Delete</a>';
        // At some point we're going to want to remove the delete option. Uncomment the following when that time comes
        //var add_string = '<a href="/systems/show/' + aData[7] + '/">Show</a>&nbsp;&nbsp;<a href="/systems/edit/' + aData[7] + '">Edit</a>';
        $('td:eq(7)', nRow).html(add_string);
    } else {
        $('td:eq(7)', nRow).html('');
    }
    return nRow;
},
    "bJQueryUI": true,
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "/en-US/systems/list_all_systems_ajax/"
    }
    otable = $('#datagrid').dataTable( settings ).fnSetFilteringDelay(500);
    //console.log(otable.dataTableSettings[0]._iDisplayStart);
    $("#datagrid_filter > input").focus();
    window.onpopstate = function(event) {  
        if(event.state){
            settings = eval(event.state);
            //console.log(settings);
            oSettings = otable.fnSettings();
            //oSettings = settings;
            //To fix this, just remove up to the conditional and then uncomment. Also fix the next button callback
            //oSettings.oPreviousSearch.sSearch = 'seamicro';
            //oSettings.sSearch = 'seamicro';
            if (settings.iDisplayLength){
                oSettings._iDisplayLength = settings.iDisplayLength;
            } 
            oSettings.iInitDisplayStart = settings.iDisplayStart;
            otable.fnDraw();
        } 
    }; 
});
</script>
{% endblock %}
