{% extends "jinja_generic_listtable.html" %}
{% block list_name %}Locations{% endblock %}

{% block create_new_url %}{{ "location-new"|url() }}{% endblock %}
{% block table_head %}
        <tr>
            <th>Name</th> 
            <th>Address</th> 
            <th colspan="3">Actions</th>
        </tr>
{% endblock %}
{% block table_body %}
        {% for o in object_list %}
        <tr>
            <td>{{ o.name }}</td>
            <td>{{ o.address }}</td>
            <td><a href="{{ "location-show"|url(o.id) }}">Show</a></td>
            <td><a href="{{ "location-edit"|url(o.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
{% endblock %}
