{% extends "jinja_base.html" %}
{% block subtitle %} - racks{% endblock %}
{% block content %}
{% block head %}
<style type='text/css'>
    #blah-rack_elevation {
        width: 400px;
        height: 700px;
    }
</style>

<script type="text/javascript">
function draw() {
        var ctx = document.getElementById('rack_elevation').getContext('2d');
        var rack_height = 806;
        var rack_width = 400;
        var edge = 25;
        var usable_height = rack_height - (edge * 2)
        var usable_width = rack_width - (edge * 2)

        ctx.fillStyle   = '#000000';
        ctx.fillRect(0,0,rack_width, rack_height);  
        ctx.fillStyle   = '#FFFFFF';
        ctx.fillRect(edge, edge, usable_width, usable_height);  
        counter = 1;
        for(i=usable_height; i>edge - 10; i-=(usable_height/42)){
            mult = i;
            console.log(mult);
            ctx.moveTo(edge, edge + mult);  
            ctx.lineTo(usable_width + edge, edge + mult);  
            ctx.stroke();
            ctx.fillStyle = "blue";
            ctx.font="8pt";
            text_y = mult + ( (usable_height/24) / 2) + 4;
            ctx.fillText("RU " + counter, usable_width / 2, text_y);
            counter++;
        }
        // Draw some rectangles.
        //ctx.lineTo(103,76);
        ////ctx.lineTo(170,15);
        //ctx.stroke();
        //ctx.fillRect(100, 200, 150, 100);
        /*var img = new Image();
        img.width = 400;
        img.height = 700;
        img.src = '/static/images/server_rack_background.png';
        img.onload = function(){
            ctx.drawImage(img,0,0);
        }*/
    }


$(document).ready(function() {
    draw();
        // put all your jQuery goodness in here.
    });


</script>
{% endblock %}
<h2>System Rack Elevation</h2>
<canvas width="400" height="800" id='rack_elevation'>



</canvas>
{% endblock %}
