{% extends "base.html" %}
{% block subtitle %} - racks{% endblock %}
{% block content %}
<h2>Listing Racks</h2>
{% if not read_only %}<a href="{{ "system_rack-new"|url() }}">Create New</a>{% endif %}
<form action="" method="get">
    {{ filter_form.as_p() }}
    <input type="submit" value="Filter" />
</form>

{% import 'systems/rack_macros.html' as drawer -%}
{% for rack, systems in racks %}
    {{ drawer.display_rack(rack, systems) }}
    <br />
{% endfor %}
<script type="text/javascript" src="/static/javascripts/application.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.new-system').new_system_from_rack();
        $('#id_site').change(function(){
            $("#id_rack").get(0).options.length = 0;
            $.ajax({
                type: "GET",
                url: "/en-US/systems/racks/bysite/" + $("#id_site").val() + '/',
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function(){
                    $("#id_rack").get(0).options[0] = new Option("Loading...", "");   
                },
                success: function(msg) {
                    $("#id_rack").get(0).options.length = 0;
                    $("#id_rack").get(0).options[0] = new Option("All", "");   
                    $.each(msg, function(index, item) {
                        $("#id_rack").get(0).options[$("#id_rack").get(0).options.length] = new Option(item.name, item.id);
                    });
                },
                error: function() {
                    alert("Failed to load racks");
                }
        }); 
        });
    
    });
</script>

{% endblock %}
