    <tr{% if system.system_status %} style="background-color: {{ system.system_status.color_code }}"{% endif %}>
    <td>{{ system.rack_order }}</td>
    <td><a href="/systems/show/{{ system.id }}/">{{ system.hostname }}</a></td>	
    <td>{{ system.asset_tag }}</td>
    <td>{{ system.server_model }}
    <td>{{ system.allocation }}</td>
    {% if not read_only %}
        <td>{% if system.oob_ip %}<a href="http://{{ system.oob_ip }}/">{{ system.oob_ip }}</a>{% endif %}</td>
    {% endif %}
    </tr>
