{% extends "jinja_base.html" %}
{% block subtitle %} - racks{% endblock %}
{% block content %}
<style type='text/css'>
    #blah-rack_elevation {
        width: 400px;
        height: 700px;
    }
</style>

<script type="text/javascript">
    var json_string = '{{ data }}';
$(document).ready(function() {
    data = $.parseJSON(json_string);
    var called = false;
    var system_list = new Array();
    var item_height = 18;
    var total_ru = data.rack_ru;
    var rack_height = (total_ru * item_height) + 50;
    var rack_width = 400;
    var edge = 25;
    var usable_height = rack_height - (edge * 2)
    var usable_width = rack_width - (edge * 2)
    ru_height = usable_height/total_ru;
    if(called == false){
        draw();
        called = true;
    }
    $("#rack_elevation").click(function(e){

        //Setup this offset to allow for the a segment having an image and a border.
        //Perhaps my math is wrong though, but this works out perfectly
        e.pageY = e.pageY - 7;
        var y = Math.floor((e.pageY-$("#rack_elevation").offset().top) / 18);
        //Flip the bits to get the proper slice of the array
        y = 46 - y;
        system_index = y;
        //Check to see if we have a system_id stored
        if( parseInt(system_list[system_index]) > 0){
            alert("Redirect to system edit page");
            //self.location = "/systems/edit/" + system_list[system_index];
        //If not, then we'll display a jQuery UI to select which system goes here
        } else {
            alert("Show interface to add");
            //console.log("Here is where we display how to add a new system to this RU");
        }


    });

        // put all your jQuery goodness in here.
function draw() {
        var ctx = document.getElementById('rack_elevation').getContext('2d');
        //Statically setting the total RU for now, it will configurable
        //alert(usable_height/total_ru);
        // Each RU is 18 pixels
        ctx.beginPath();
        ctx.fillStyle   = '#000000';
        ctx.fillRect(0,0,rack_width, rack_height);  
        ctx.fillStyle   = '#FFFFFF';
        ctx.fillRect(edge, edge, usable_width, usable_height);  
        counter = 1;
        ignore = 0;
        for(i=usable_height; i>edge - 11; i-=(usable_height/total_ru)){
            mult = i;
            if(counter % 5 == 0){
                system_ru = 1;
                draw_image_at_ru(ctx, '/static/images/hp-1RU.png', counter, edge, edge+mult, usable_width, usable_height, system_ru);
                system_list.push(counter);
                system_list.push(counter);
                if(system_ru > 1){
                    ignore += (system_ru);
                }
                /*for(ii=1; ii<=system_ru; ii++){
                    system_list.push(counter);
                }*/
            } else {
                if(ignore == 0){
                    system_list.push('add');
                }
                ctx.beginPath();
                ctx.fillStyle = '';
                ctx.strokeStyle = "grey";
                ctx.lineWidth = 1;
                ctx.moveTo(edge, edge + mult);  
                ctx.lineTo(usable_width + edge, edge + mult);  
                ctx.stroke();
                ctx.beginPath();
                ctx.fillStyle = "blue";
                ctx.strokeStyle = "blue";
                ctx.font="8pt";
                text_y = mult + ( (usable_height/24) / 2) + 2;
                ctx.fillText("RU " + counter, usable_width / 2, text_y);
                ctx.stroke();
                ctx.fill();
            }
            if(ignore > 0){
                ignore--;
            }
            counter++;
        }
}

    function draw_image_at_ru(ctx, img_path, ru,x,y,width,height, ru ){
        // Calculate the top portion of the system. Each is based on an RU being 18 pixels high, counting backwards
        y = y - (item_height * ru);
        var img = new Image();   // Create new img element  
        img.onload = function(){  
            ctx.drawImage(img, x, y, width, 18  * ru);
        };  
        img.src = '/static/images/hp-1RU.png';
        ctx.beginPath();
        ctx.fillStyle = "red";
        ctx.font="8pt";
        text_y = y + ((18 * ru) / 2) + 3;
        ctx.fillText(counter, 7, text_y);
        ctx.strokeStyle = "grey";
        ctx.font = "12px";
        ctx.fillText('foo.bar.private.mozilla.com', 443, text_y +3);
        ctx.stroke();
        canvas_arrow(ctx, 440, text_y -3, 380, text_y -3);
    }

    function canvas_arrow(ctx, fromx, fromy, tox, toy, text){
        ctx.beginPath();
        var headlen = 10;   // length of head in pixels
        var angle = Math.atan2(toy-fromy,tox-fromx);
        ctx.lineWidth = 2;
        ctx.strokeStyle = "blue";
        ctx.fillStyle = 'blue';
        ctx.moveTo(fromx, fromy);
        ctx.lineTo(tox, toy);
        ctx.lineTo(tox-headlen*Math.cos(angle-Math.PI/6),toy-headlen*Math.sin(angle-Math.PI/6));
        ctx.moveTo(tox, toy);
        ctx.lineTo(tox-headlen*Math.cos(angle+Math.PI/6),toy-headlen*Math.sin(angle+Math.PI/6));
        ctx.stroke();
    }

    });


</script>
<h2>System Rack Elevation</h2>
<canvas width="700" height="1000" id='rack_elevation' style="cursor:pointer;">



</canvas>
{% endblock %}
