{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="/static/javascripts/master_form_utils.js"></script>
<script type="text/javascript" src="/static/javascripts/system_show.js"></script>
{% endblock %}

{% block subtitle %} - {{ system.hostname }} - show{% endblock %}
{% block content %}

<div id='meta-data' data-system-id='{{system.id}}'></div>

<div>
<dl class="show">
<dt>Host name:</dt>
<dd id='hostname_dd'>{{ system.hostname }}</dd>
<div style="clear:both;"></div>

<dt>Created On:</dt>
<dd>{{ system.created_on }}</dd>
<div style="clear:both;"></div>

<dt>Serial:</dt>
<dd>{{ system.serial }}</dd>
<div style="clear:both;"></div>

<dt>Switch Ports:</dd>
<dd>{{ system.switch_ports }}</dd>
<div style="clear:both;"></div>

<dt>Patch Panel Port:</dd>
<dd>{{ system.patch_panel_port }}</dd>
<div style="clear:both;"></div>
{% if not read_only %}
<dt>OOB Ip:</dt>
<dd>
        {% if system.oob_ip %}
            <a href="http://{{ system.oob_ip }}/">{{ system.oob_ip }}</a>
        {% endif %}
</dd>
<div style="clear:both;"></div>
{% endif %}

<dt>OOB switch &amp; port:</dt>
<dd>{{ system.oob_switch_port }}</dd>
<div style="clear:both;"></div>

<dt>Status:</dt>
<dd>{{ system.system_status }}</dd>
<div style="clear:both;"></div>

<dt>Rack:</dt>
{% if system.system_rack %}
    <dd>
        <a href='{{system.system_rack.get_absolute_url()}}'>{{system.system_rack.name}}</a>
        <b> - </b> {{ system.rack_order }}
    </dd>
{% else %}
    <dd>None<b> - </b> {{ system.rack_order }}</dd>
{% endif %}
<div style="clear:both;"></div>

<dt>Rack Location:</dt>
{% if system.system_rack and system.system_rack.location %}
    <dd>
        <a href='{{system.system_rack.location.get_absolute_url()}}'>{{system.system_rack.location.name}}</a>
    </dd>
{% else %}
    <dd><i>Not defined</i></dd>
{% endif %}
<div style="clear:both;"></div>

<dt>System Type:</dt>
<dd>{{ system.system_type }}</dd>
<div style="clear:both;"></div>

<dt>Asset Tag:</dt>
<dd>{{ system.asset_tag }}</dd>
<div style="clear:both;"></div>

<dt>Date Purchased:</dt>
<dd>{{ system.purchase_date }}</dd>
<div style="clear:both;"></div>

<dt>Last Password Change:</dt>
<dd>{{ system.change_password }}</dd>
<div style="clear:both;"></div>

<dt>Purchase Price:</dt>
<dd>{{ system.purchase_price }}</dd>
<div style="clear:both;"></div>

{% if system.warranty_start %}
<dt>Warranty: </dt>
<dd>{{ system.warranty_start.year }}-{{ system.warranty_start.month }}-{{ system.warranty_start.day }} to
  {{ system.warranty_end.year }}-{{ system.warranty_end.month }}-{{ system.warranty_end.day }}</dd>
<div style="clear:both;"></div>
{% else %}
<dt>Warranty: </dt>
<dd>None</dd>
{% endif %}

<dt>Operating System:</dt>
<dd>{{ system.operating_system }}</dd>
<div style="clear:both;"></div>

<dt>Server Model:</dt>
<dd>{{ system.server_model }}</dd>
<div style="clear:both;"></div>

<dt>Allocated to:</dt>
<dd>{{ system.allocation }}</dd>
<div style="clear:both;"></div>

{% if is_release %}
	<dt>Releng Distro:</dt>
		<dd>{{ system.releng_distro }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Bitlength:</dt>
		<dd>{{ system.releng_bitlength }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Purpose:</dt>
		<dd>{{ system.releng_purpose }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Trust Level:</dt>
		<dd>{{ system.releng_trustlevel }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Environment:</dt>
		<dd>{{ system.releng_environment }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Data Center:</dt>
		<dd>{{ system.releng_datacenter }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Role:</dt>
		<dd>{{ system.releng_role }}</dd>
	<div style="clear:both;"></div>
{% endif %}

{% if system.warranty_link %}
<dt>Warranty Check:</dt>
<dd>
<a href="{{ system.warranty_link }}">Warranty Check</a>

</dd>
<div style="clear:both;"></div>
{% endif %}

{% if system.build_attribute %}
  <dt>Support Tier: </dt>
  <dd>{{ system.build_attribute.support_tier }}</dd>
  <div style="clear:both;"></div>
  <dt>Tinderbox Tree URL: </dt>
  <dd><%= auto_link h(@system.build_attribute.tboxtree_url) %></dd>
  <div style="clear:both;"></div>
  <dt>Repository Branch: </dt>
  <dd>{{ system.build_attribute.cvsbranch }}</dd>
  <div style="clear:both;"></div>
  <dt>Cpu Throttled?: </dt>
  <dd>{{ system.build_attribute.cpu_throttled }}</dd>
  <div style="clear:both;"></div>
  <dt>Product Branch: </dt>
  <dd>{{ system.build_attribute.product_branch }}</dd>
  <div style="clear:both;"></div>
  <dt>Closes Tree?: </dt>
  <dd>{{ system.build_attribute.closes_tree }}</dd>
  <div style="clear:both;"></div>
  <dt>Support Doc: </dt>
  <dd><%= auto_link h(@system.build_attribute.support_doc) %></dd>
  <div style="clear:both;"></div>
{% endif %}

</div>

<script>
    $(document).ready(function(){
        display_inpage_search_results('/^{{system.hostname}}\.?$', '#system-dns-info', function (){
            var first_width = '45%';
            var last_width = '20px';  // The edit column
            var rdtype_width = '10%';  // The edit column
            $('.tablesorter th:first-child').css('width', first_width);
            $('.tablesorter th:last-child').css('width', last_width);
            $('.tablesorter th:nth-child(2)').css('width', rdtype_width);
        });
    });
</script>
<div id="system-dns-info">
</div>

<!--- Disabling this until DHCP is deployed -->
<div style="clear:both;display:none;">
<dl class="show">
<dt>Registrations: </dt>
<br>
    <div>
        {% from 'core/core_macros.html' import display_sregs %}
        {{ display_sregs(sregs) }}
    </div>
    <a class="add_new_sreg" href="">Add Static Registration</a>
</div>

<div>
{% if system.notes %}
<dl class="show">
<dt>Notes: </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;"><pre style='width: 700px; white-space: normal;'>{{ system.notes_with_link }}</pre></dd>
<div style="clear:both;"></div>
</dl>
{% endif %}

<div style="clear:both;">
<dl class="show">
<dt>Network Adapters: </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;">
<pre>
    {{ adapter }}
    <table>
    <tr><th>NIC</th><th>IP Address</th><th>Mac Address</th><th>DHCP Scope</th><th>DHCP Hostname</th></tr>
    {% for adapter in adapters %}
        <tr><td>{{adapter.adapter_name}}</td><td>{{ adapter.ipv4_address }}</td><td>{{ adapter.mac_address }}</td><td>{{ adapter.dhcp_scope }}</td><td>{{ adapter.option_hostname }}</td></tr>

    {% endfor %}
    </table>

</pre></dd>
<div style="clear:both;"></div>
</dl>


</pre></dd>
<div style="clear:both;"></div>
</dl>
</div>

<dl class="show">
<dt>Key/Value Store (without network adapters): </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;">
<pre>
    <table>
    <tr><th>Key</th><th>Value</th></tr>
    {% for key in key_values %}
        <tr><td>{{key.key}}</td><td>{{ key.value }}</td></tr>
    {% endfor %}
    </table>

</pre></dd>
<div style="clear:both;"></div>
</dl>
</div>
{% if not read_only %}
<div>

    <dl class="show">
        <dt>Licenses: </dt>
        <dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;"><pre>{{ system.licenses }}</pre></dd>
        <div style="clear:both;"></div>
    </dl>
</div>
{% endif %}

<div style="clear:both;"></div>
{% if not read_only %}
<a href="{{ "systems.views.system_edit"|url(system.id) }}">Edit</a>
{% endif %}
<a href="{{ "systems.views.home"|url() }}">Back</a>

{% include 'systems/system_registration.html' %}

{% endblock %}
