{% extends "jinja_base.html" %}
{% block subtitle %} - {{ system.hostname }} - show{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/javascripts/master_form_utils.js"></script>
<!-- ^ Contains the make smart name function -->

<div>
<dl class="show">
<dt>Host name:</dt>
<dd id='hostname_dd'>{{ system.hostname }}</dd>
<div style="clear:both;"></div>

<dt>Created On:</dt>
<dd>{{ system.created_on }}</dd>
<div style="clear:both;"></div>

<dt>Serial:</dt>
<dd>{{ system.serial }}</dd>
<div style="clear:both;"></div>

<dt>Switch Ports:</dd>
<dd>{{ system.switch_ports }}</dd>
<div style="clear:both;"></div>

<dt>Patch Panel Port:</dd>
<dd>{{ system.patch_panel_port }}</dd>
<div style="clear:both;"></div>
{% if not read_only %}
<dt>OOB Ip:</dt>
<dd>
        {% if system.oob_ip %}
            <a href="http://{{ system.oob_ip }}/">{{ system.oob_ip }}</a>
        {% endif %}
</dd>
<div style="clear:both;"></div>
{% endif %}

<dt>OOB switch &amp; port:</dt>
<dd>{{ system.oob_switch_port }}</dd>
<div style="clear:both;"></div>

<dt>Status:</dt>
<dd>{{ system.system_status }}</dd>
<div style="clear:both;"></div>

<dt>SystemRack:</dt>
<dd>{{ system.system_rack }} <b> - </b> {{ system.rack_order }}</dd>
<div style="clear:both;"></div>

<dt>Asset Tag:</dt>
<dd>{{ system.asset_tag }}</dd>
<div style="clear:both;"></div>

<dt>Date Purchased:</dt>
<dd>{{ system.purchase_date }}</dd>
<div style="clear:both;"></div>

<dt>Last Password Change:</dt>
<dd>{{ system.change_password }}</dd>
<div style="clear:both;"></div>

<dt>Purchase Price:</dt>
<dd>{{ system.purchase_price }}</dd>
<div style="clear:both;"></div>

<dt>Operating System:</dt>
<dd>{{ system.operating_system }}</dd>
<div style="clear:both;"></div>

<dt>Server Model:</dt>
<dd>{{ system.server_model }}</dd>
<div style="clear:both;"></div>

<dt>Allocated to:</dt>
<dd>{{ system.allocation }}</dd>
<div style="clear:both;"></div>

{% if is_release %}
	<dt>Releng Distro:</dt>
		<dd>{{ system.releng_distro }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Bitlength:</dt>
		<dd>{{ system.releng_bitlength }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Purpose:</dt>
		<dd>{{ system.releng_purpose }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Trust Level:</dt>
		<dd>{{ system.releng_trustlevel }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Environment:</dt>
		<dd>{{ system.releng_environment }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Data Center:</dt>
		<dd>{{ system.releng_datacenter }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Role:</dt>
		<dd>{{ system.releng_role }}</dd>
	<div style="clear:both;"></div>
{% endif %}

{% if system.warranty_link %}
<dt>Warranty Check:</dt>
<dd>
<a href="{{ system.warranty_link }}">Warranty Check</a>

</dd>
<div style="clear:both;"></div>
{% endif %}

{% if system.build_attribute %}
  <dt>Support Tier: </dt>
  <dd>{{ system.build_attribute.support_tier }}</dd>
  <div style="clear:both;"></div>
  <dt>Tinderbox Tree URL: </dt>
  <dd><%= auto_link h(@system.build_attribute.tboxtree_url) %></dd>
  <div style="clear:both;"></div>
  <dt>Repository Branch: </dt>
  <dd>{{ system.build_attribute.cvsbranch }}</dd>
  <div style="clear:both;"></div>
  <dt>Cpu Throttled?: </dt>
  <dd>{{ system.build_attribute.cpu_throttled }}</dd>
  <div style="clear:both;"></div>
  <dt>Product Branch: </dt>
  <dd>{{ system.build_attribute.product_branch }}</dd>
  <div style="clear:both;"></div>
  <dt>Closes Tree?: </dt>
  <dd>{{ system.build_attribute.closes_tree }}</dd>
  <div style="clear:both;"></div>
  <dt>Support Doc: </dt>
  <dd><%= auto_link h(@system.build_attribute.support_doc) %></dd>
  <div style="clear:both;"></div>
{% endif %}

</div><div>

<dl class="show">
<dt>Notes: </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;"><pre style='width: 700px; white-space: normal;'>{{ system.notes_with_link }}</pre></dd>
<div style="clear:both;"></div>
</dl>

<div style="clear:both;"></div>
<dl class="show">
<dt>Interfaces (for DNS): </dt>
    <table>
    <tr><th>Int</th><th>MAC</th><th>FQDN</th><th>IP Address</th><th>DHCP</th><th>DNS</th><th>Action</th></tr>
    {% for intr in interfaces %}
        <tr>
        <td>{{ intr.interface_name() }}</td>
        <td>{{ intr.mac }}</td>
        {% if intr.label == "" %}
        <td><a href='{{ intr.domain.get_absolute_url() }}'>{{intr.fqdn}}</a></td>
        {% else %}
        <td>{{ intr.label }}.<a href='{{ intr.domain.get_absolute_url() }}'>{{ intr.domain }}</a></td>
        {% endif %}
        <td>{{ intr.ip_str }} <a href='{{ intr.reverse_domain.get_absolute_url() }}'>View Domain</a> <a target="_blank" style='cursor:pointer;' rel='{{intr.ip_str}}|{{intr.ip_type}}' class="goto_range">View Range</a></td>
        <td>{{ intr.dhcp_enabled }}</td>
        <td>{{ intr.dns_enabled }}</td>
        <td><a href='{{ intr.get_edit_url() }}'>Edit</a> <a onclick='return confirm("Delete this Adapter?");' href='{{ intr.get_delete_url() }}'>Delete</a></td>
        </tr>
    {% endfor %}
    </table>
</pre></dd>
<div style="clear:both;"></div>
<a class="system_add_interface_combined" href="">Add Interface</a>
</dl>

</div>
<dl class="show">
<dt>Key/Value Store (without network adapters): </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;">
<pre>
    <table>
    <tr><th>Key</th><th>Value</th></tr>
    {% for key in key_values %}
        <tr><td>{{key.key}}</td><td>{{ key.value }}</td></tr>
    {% endfor %}
    </table>

</pre></dd>
<div style="clear:both;"></div>
</dl>
</div>
{% if not read_only %}
<div>

    <dl class="show">
        <dt>Licenses: </dt>
        <dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;"><pre>{{ system.licenses }}</pre></dd>
        <div style="clear:both;"></div>
    </dl>
</div>
{% endif %}

<div style="clear:both;"></div>
{% if not read_only %}
<a href="{{ "systems.views.system_edit"|url(system.id) }}">Edit</a>
{% endif %}
<a href="{{ "systems.views.home"|url() }}">Back</a>
<script type='text/javascript'>
    var system_id = {{ system.pk }};
    function goto_range(ip_str, ip_type){
        $.get('/core/range/find_range/?ip_str='+ip_str+'&ip_type=' + ip_type, do_redirect);
    }
    function do_redirect(e) {
        var obj = jQuery.parseJSON(e);
        if (obj.success){
            window.open(obj.redirect_url);
        } else {
            alert(obj.message);
        }
    }

    $(document).ready(function() {
        $("a.goto_range").click(function (){
            var args = $(this).attr("rel").split('|');
            var ip_str = args[0];
            var ip_type = args[1];
            $.get('/core/range/find_range/?ip_str='+ip_str+'&ip_type=' + ip_type, do_redirect);
        });

        $('#show_all_ranges').click(function(){
            if($(this).attr("checked")){
                $("#add_adapter_range option").each(function(){
                    $(this).css("display","");
                });
            } else {
                $("#add_adapter_range option").each(function(){
                    if ($(this).attr('relevant') === 'false'){
                        $(this).css("display","none");
                    }
                });
            }
        });
        $('#show_all_ranges').attr("checked", ""); // Default

        $(".system_add_interface_combined").click(function(){
            $("#add_adapter_fqdn").val($("#hostname_dd").html().split('.')[0]);
            $("#add_adapter_fqdn").val($("#hostname_dd").html().split('.')[0]);
            make_smart_name_get_domains($("#add_adapter_fqdn"), true);
            $.ajax({
                    type: "GET",
                    url: "/en-US/systems/get_all_ranges_ajax/",
                    data: {'system_pk':'{{system.pk}}'},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function(){
                            $("#add_adapter_range").get(0).options[0] = new Option("Loading...", "");
                    },
                    success: function(msg) {
                            $("#add_adapter_range").get(0).options.length = 0;
                            $("#add_adapter_range").get(0).options[0] = new Option("Select Range", "");
                            $.each(msg, function(index, item) {
                                var tld = $("#hostname_dd").html().split('.').pop();
                                // Build a suggested FQDN and store it on the range option
                                if (tld === 'com' || tld === 'net' || tld === 'org'){
                                    suggested_fqdn = "mozilla." + tld;
                                } else {
                                    suggested_fqdn = "mozilla.com";
                                }
                                if (item.site !== ''){
                                    suggested_fqdn = item.site + '.' + suggested_fqdn;
                                }
                                if (item.vlan !== ''){
                                    suggested_fqdn = item.vlan + '.' + suggested_fqdn;
                                }
                                suggested_fqdn = $("#hostname_dd").html().split('.')[0] + '.' + suggested_fqdn
                                var option = new Option(item.display, item.id);
                                $(option).attr('suggested_fqdn', suggested_fqdn);
                                $(option).attr('relevant', item.relevant);
                                if (!item.relevant) {
                                    $(option).css("display", "none");
                                }
                                $("#add_adapter_range").get(0).options[$("#add_adapter_range").get(0).options.length] = option
                            });
                            if($('#show_all_ranges').attr("checked")){
                                $("#add_adapter_range option").each(function(){
                                    $(this).css("display","");
                                });
                            } else {
                                $("#add_adapter_range option").each(function(){
                                    if ($(this).attr('relevant') === 'false'){
                                        $(this).css("display","none");
                                    }
                                });
                            }
                    },
                    error: function() {
                        alert("Failed to load Ranges");
                    }
                }); // End Ajax
            var d = $( "#add-dialog" ).dialog({
                    title: 'Add Adapter to System',
                    autoShow: true,
                    width: 700,
                    buttons: {
                        "Save": function() {
                            if(!$("#add_adapter_range").val() && $('#auto_assign_ip').is(':checked')){
                                alert("Range Required");
                                return;
                            }
                            if(!$("#add_adapter_ip_address").val()){
                                alert("IP Address Required");
                                return;
                            }
                            if(!$("#add_adapter_mac_address").val()){
                                alert("Mac Address Required");
                                return;
                            }
                        $.post('/en-US/systems/create_adapter/' + system_id + '/',
                            {
                                'is_ajax': '1',
                                'ip_address': $("#add_adapter_ip_address").val(),
                                'interface': $("#add_adapter_interface").val(),
                                'mac_address': $("#add_adapter_mac_address").val(),
                                'enable_dhcp': $("#add_adapter_dhcp").is(":checked"),
                                'enable_dns': $("#add_adapter_dns").is(":checked"),
                                'enable_public': $("#add_adapter_public").is(":checked"),
                                'enable_private': $("#add_adapter_private").is(":checked"),
                                'fqdn': $("#add_adapter_fqdn").val(),
                                'range': $("#add_adapter_range").val(),
                                'system_hostname': $("#system_search").val()
                            },
                            function(data){
                                var obj = jQuery.parseJSON(data);
                                if(obj.success == true){
                                    $("#add_adapter_mac_address").val('');
                                    self.location.reload();
                                } else {

                                    alert(obj.error_message);

                                }
                            });
                        },
                        Cancel: function() {
                            $("#add_adapter_range").get(0).options.length = 0;
                            $( this ).dialog( "close" );
                        }
                    },
                    close: function(event, ui){
                        $("#add_adapter_range").get(0).options.length = 0;
                    }

            }); // End dialog
            d.show();
            return false;
        // end of .system_quick_add_interface.click()
        });

        $("#add_adapter_dns").click(function(){
            if($(this).attr("checked")){
                $("#add_adapter_private").attr("disabled", "");
                $("#add_adapter_public").attr("disabled", "");
            } else {
                $("#add_adapter_private").attr("disabled", "disabled");
                $("#add_adapter_public").attr("disabled", "disabled");
            }

        });

        // Use fqdn or auto creation options.
        $("#override_fqdn").click(function(){
            if($(this).attr("checked")){
                $("#add_adapter_fqdn").attr("disabled", "");
            } else {
                $("#add_adapter_fqdn").attr("disabled", "disabled");
            }

        });
        // Defaults
        $("#add_adapter_fqdn").attr("disabled", "disabled");
        $("#override_fqdn").attr("checked", "");

        // Automatically assign interface name options.
        $("#auto_name").click(function(){
            console.log($("#auto_name").attr("checked"));
            if($("#auto_name").attr("checked") === true){
                // Set the interface name to the next available interface name.
                $.get('/systems/get_next_intr_name/' + {{system.pk}} + '/',
                    function(data){
                        var obj = jQuery.parseJSON(data);
                        if(obj.success == true){
                            $('#add_adapter_interface').val(obj.intr_name);
                            $("#add_adapter_interface").attr("disabled", "disabled");
                        } else {
                            alert(obj.error);
                        }
                    }
                );
            } else {
                $("#add_adapter_interface").attr("disabled", "");
            }
        });
        // Defaults
        $("#auto_name").attr('checked', 'checked');
        $('#add_adapter_interface').val(''); // Clear it
        $.get('/systems/get_next_intr_name/' + {{system.pk}} + '/',
            function(data){
                var obj = jQuery.parseJSON(data);
                if(obj.success == true){
                    $('#add_adapter_interface').val(obj.intr_name);
                    $("#add_adapter_interface").attr("disabled", "disabled");
                } else {
                    alert(obj.error);
                }
            }
        );

        $("#override_fqdn").attr("checked", "");
        function auto_assign_ip(the_range){
            if (the_range){
                $.get('/en-US/systems/get_next_available_ip_by_range/' + the_range + '/',
                    function(data){
                        var obj = jQuery.parseJSON(data);
                        if(obj.success == true){
                            //$("#add_adapter_ip_address").attr("disabled", "disabled");
                            $("#add_adapter_ip_address").val(obj.ip_address);
                        } else {

                            alert(obj.error);

                        }
                });
            } else {
                alert("Please select a range.");
                $("#add_adapter_ip_address").val('Auto Assign');
            }
        }
        $("#auto_assign_ip").click(function(){
                if($(this).attr("checked")){
                    var the_range = $("#add_adapter_range").val();
                    auto_assign_ip(the_range);
                    $("#add_adapter_ip_address").attr("disabled", "disabled");
                } else {
                    $("#add_adapter_ip_address").attr("disabled", "");
                    if ($("#add_adapter_ip_address").val() === 'Auto Assign'){
                        $("#add_adapter_ip_address").val('');
                    }
                    // Reset the range select but don't clear the IP
                    $("#add_adapter_range").attr('selectedIndex',0);
                }

        });

        $("#add_adapter_range").change(function(){
            if ($("#auto_assign_ip").attr("checked")){
                auto_assign_ip($(this).val());
            }
            if ($('#override_fqdn').attr('checked') === false) {
                var suggested_fqdn = $("#add_adapter_range option:selected").attr('suggested_fqdn');
                console.log("Suggesting: "+ suggested_fqdn);
                $('#add_adapter_fqdn').val(suggested_fqdn);
            }
        });
        // Default IP
        $("#auto_assign_ip").attr("checked", "checked"); // Set it to auto assign
        $("#add_adapter_ip_address").val('Auto Assign');
        $("#add_adapter_ip_address").attr('disabled', 'disabled');
    });
</script>
<style>
    span.helptext {
        margin-left: 5px;
    }
</style>
<div id="add-dialog" title="Add System to Rack" style='display: none; width: 700px;'>
    <table>
        <caption>Step 1. Pick Interface IP</caption>
        <tr><td colspan="2">Range: <select id='add_adapter_range' name='add_adapter_range'></select></td></tr>
        <tr><td>Show all ranges <input type='checkbox' name='show_all_ranges' id='show_all_ranges' style='width: 159px;'></td>
        <td>Auto Assign IP <input type='checkbox' name='auto_assign_ip' id='auto_assign_ip' style='width: 159px;' checked='checked'></td></tr>
        <tr><td colspan="2">IP Address: <input type='text' name='add_adapter_ip_address' id='add_adapter_ip_address' style='width: 159px;' value='Auto Assign'></input><span class='helptext'>IP Address of Interface</span></td></tr>
    </table>
    <table>
        <caption>Step 2. Pick Interface DNS Name</caption>
        <tr><td>Specify FQDN: <input type='checkbox' name='override_fqdn' id='override_fqdn' checked=""></td></tr>
        <tr><td colspan="2">FQDN: <input type='text' name='add_adapter_fqdn' id='add_adapter_fqdn' style='width: 400px;' value='' disabled='disabled'><span class='helptext'>FQDN</span></td></tr>
    </table>
    <table>
        <caption>Step 3. Pick Interface Name</caption>
        <tr><td>Automatically name the new Interface (Recommended): <input type='checkbox' name='auto_name' id='auto_name'></td></tr>
        <tr><td colspan="2">Interface Name: <input type='text' name='add_adapter_interface' id='add_adapter_interface' style='width: 159px;' value='ethx.y'><span class='helptext'>Interface eg eth0.0 mgmt1.0</span></td></tr>
    </table>
    <table>
        <caption>Step 4. Pick Interface Hardware Address</caption>
        <tr><td colspan="2">Mac Address: <input type='text' name='add_adapter_mac_address' id='add_adapter_mac_address' style='width: 159px;' value=''><span class='helptext'>Mac address in format 00:00:00:00:00:00</span></td></tr>
    </table>
    <table>
        <caption>Step 5. Options</caption>
        <tr><td>Enable DHCP:</td><td><input type='checkbox' name='add_adapter_dhcp' id='add_adapter_dhcp' style='width: 159px;' value='1' checked="checked"></td></tr>
        <tr><td>Enable DNS:</td><td><input type='checkbox' name='add_adapter_dns' id='add_adapter_dns' style='width: 159px;' value='1' checked="checked"></td></tr>
        <tr><td>Public DNS:</td><td><input type='checkbox' name='add_adapter_public' id='add_adapter_public' style='width: 159px;'></td></tr>
        <tr><td>Private DNS:</td><td><input type='checkbox' name='add_adapter_private' id='add_adapter_private' style='width: 159px;' value='1' checked=""></td></tr>
    </table>
</div>
{% endblock %}
{% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.11.custom.min.js"></script>
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.11.custom.css" type="text/css" />
{% endblock %}
