{# The JS for this is in static/javascripts/system_show.js #}
<style>
    span.helptext {
        margin-left: 5px;
    }
    input[readonly] {
        color: #888888;
        background-image: none;
    }
    #hwadapter-tables caption {
        margin-bottom: 1em;
    }
    .hwadapter-table caption {
        width: 80%;
        background: #D0D0D0;
    }
    .hwadapter-table {
        margin-left: 2em;
    }
    .remove-hwadapter {
        float: right;
        margin-right: 1em;
    }
    #btnMore {
        float: right;
        margin-right: 1em;
    }
    #id_sreg-fqdn {
        width: 400px;
    }
    .range-choice {
      text-decoration: none;
      color: black;
    }
    .range {
      border-width: 1px;
      border-style: solid;
      border-color: black;
      margin: 2px 2px 15px 2px;
      padding: 5px;
      border-radius: 5px;
      background-color: #D8D8D8;
    }
    #choose-ip-errors {
      margin-top: 3em;
      color: red;
    }
</style>
<div id="add-sreg-dialog" title="Create New Static Registration" style="display: {{display or 'none'}}; width: 700px;">
    <div id='choose-ip-area' style='display:none;'>
      <div id='choose-ip'></div>
      <div id='choose-ip-errors'> </div>
      <div id='choose-ip-help-text'>
        <p>This little widget can help you find an IP address be location a valid IP Range.</p>
        <p>Instructions:</p>
        <ul>
          <li>Select a site from the first dropdown</li>
          <li>Select a vlan from the second dropdown</li>
          <li>Select a network from the third dropdown</li>
          <li>Finally, click on a range that you want to find an IP in</li>
        </ul>
      </div>
      <div id='choose-ip-display-ranges-area'></div>
      <div id='choose-ip-reset-area'>
        <p>If at anytime you time you want to start over click  <button id='choose-ip-reset'>Reset</button></p>
      </div>
    </div>
    <form id='id-sreg-hwadapter-form' name='sreg-hwadapter-form'>
    {{ sreg_form.system }}
    <table>
        <caption>Step 1. Configure Registration IP</caption>
        <tr>
        </tr>
        <tr>
            <td colspan="2">
                {{ sreg_form.ip_str.errors }}
                <label for='id_sreg-ip_str'> IP Address: {{sreg_form.ip_str}}</label>
                <input id='ffip' type='button' value='Automatically Assign'></input>
                <span class='helptext'>IP Address of Registration</span>
            </td>
        </tr>
    </table>
    <table>
        <caption>Step 2. Configure Registration DNS Name</caption>
        <tr>
            {{ sreg_form.fqdn.errors }}
            <td colspan="2">FQDN: {{ sreg_form.fqdn }}
                <span class='helptext'>FQDN</span>
            </td>
        </tr>
    </table>
    <table>
        <caption>Step 3. DNS Options</caption>
        {{ sreg_form.views.errors }}
        <tr><td colspan="2">DNS Views: {{ sreg_form.views }}</td></tr>
    </table>
    <table>
        <caption>Step 4. Registration Name</caption>
        {{ sreg_form.name.errors }}
        <tr>
            <td colspan="2">
                SREG Name: {{ sreg_form.name }}
                <span style='margin-left: 5px;'>
                    (Leave blank for automatic assignment)
                </span>
            </td>
        </tr>
    </table>
    {{ hw_formset.management_form }}
    <table id='hwadapter-tables'>
        <caption>Step 5. Register Hardware Adapters <input type='button' id='btnMore' value='Add another Hardware Adapter'></caption>
        <tr>
            <td>
            {% for hw_form in hw_formset %}
            <table class='hwadapter-table'>
                <caption>New Adapter<input class='remove-hwadapter' type='button' value='Remove'></caption>
                <tr>
                    <ul class='.errors'>
                    </ul>
                    <td colspan="2">
                        <span class='adapter-name'>Adapter Name: </span>
                    </td>
                    <td colspan="2">
                         {{ hw_form.name }}
                        <span style='margin-left: 5px;'>
                            (Leave blank for automatic assignment)
                        </span>
                    </td>
                </tr>
                <tr>
                    <ul class='.errors'>
                    </ul>
                    <td colspan="2">
                        <span class='dhcp_scope'>DHCP Scope: </span>
                    </td>
                    <td colspan="2">
                         {{ hw_form.dhcp_scope }}
                    </td>
                </tr>
                <tr>
                    <ul class='.errors'>
                    </ul>
                    <td colspan="2">
                        <span class='mac'>Mac Address(es): </span>
                    </td>
                    <td colspan="2">
                        {{ hw_form.mac }}
                    </td>
                </tr>
                <tr>
                    <ul class='.errors'>
                    </ul>
                    <td colspan="2">
                        <span class='option-host_name'>Option Hostname: </span>
                    </td>
                    <td colspan="2">
                        <input class='hw-option-host_name' type='text'
                         name='kv-hwadapters-0-host_name' style='width: 25em;'
                         value='{{ system.hostname }}'>
                    </td>
                </tr>
                <tr>
                    <ul class='.errors'>
                    </ul>
                    <td colspan="2">
                        <span class='group'>DHCP Group: </span>
                    </td>
                    <td>
                        {{ hw_form.group }}
                    </td>
                </tr>
            </table>
            {% endfor %}
            </td>
        </tr>
    </table>
    </form>
    <div id='add-hwadapter-dialog' style='display:none;'>
        <form id='add-hwadapter-form'>
            {{blank_hw_form.as_p()}}
        </form>
    </div>
</div>
