{% extends "jinja_base.html" %}
{% block subtitle %} - {{ system.hostname }} - show{% endblock %}
{% block content %}
<div>
<dl class="show">
<dt>Host name:</dt>
<dd id='hostname_dd'>{{ system.hostname }}</dd>
<div style="clear:both;"></div>

<dt>Created On:</dt>
<dd>{{ system.created_on }}</dd>
<div style="clear:both;"></div>

<dt>Serial:</dt>
<dd>{{ system.serial }}</dd>
<div style="clear:both;"></div>

<dt>Switch Ports:</dd>
<dd>{{ system.switch_ports }}</dd>
<div style="clear:both;"></div>

<dt>Patch Panel Port:</dd>
<dd>{{ system.patch_panel_port }}</dd>
<div style="clear:both;"></div>
{% if not read_only %}
<dt>OOB Ip:</dt>
<dd>
        {% if system.oob_ip %}
            <a href="http://{{ system.oob_ip }}/">{{ system.oob_ip }}</a>
        {% endif %}
</dd>
<div style="clear:both;"></div>
{% endif %}

<dt>OOB switch &amp; port:</dt>
<dd>{{ system.oob_switch_port }}</dd>
<div style="clear:both;"></div>

<dt>Status:</dt>
<dd>{{ system.system_status }}</dd>
<div style="clear:both;"></div>

<dt>SystemRack:</dt>
<dd>{{ system.system_rack }} <b> - </b> {{ system.rack_order }}</dd>
<div style="clear:both;"></div>

<dt>Asset Tag:</dt>
<dd>{{ system.asset_tag }}</dd>
<div style="clear:both;"></div>

<dt>Date Purchased:</dt>
<dd>{{ system.purchase_date }}</dd>
<div style="clear:both;"></div>

<dt>Last Password Change:</dt>
<dd>{{ system.change_password }}</dd>
<div style="clear:both;"></div>

<dt>Purchase Price:</dt>
<dd>{{ system.purchase_price }}</dd>
<div style="clear:both;"></div>

<dt>Operating System:</dt>
<dd>{{ system.operating_system }}</dd>
<div style="clear:both;"></div>

<dt>Server Model:</dt>
<dd>{{ system.server_model }}</dd>
<div style="clear:both;"></div>

<dt>Allocated to:</dt> 
<dd>{{ system.allocation }}</dd>
<div style="clear:both;"></div>

{% if is_release %}
	<dt>Releng Distro:</dt>
		<dd>{{ system.releng_distro }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Bitlength:</dt>
		<dd>{{ system.releng_bitlength }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Purpose:</dt>
		<dd>{{ system.releng_purpose }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Trust Level:</dt>
		<dd>{{ system.releng_trustlevel }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Environment:</dt>
		<dd>{{ system.releng_environment }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Data Center:</dt>
		<dd>{{ system.releng_datacenter }}</dd>
	<div style="clear:both;"></div>
	<dt>Releng Role:</dt>
		<dd>{{ system.releng_role }}</dd>
	<div style="clear:both;"></div>
{% endif %}

{% if system.warranty_link %}
<dt>Warranty Check:</dt> 
<dd>
<a href="{{ system.warranty_link }}">Warranty Check</a>

</dd>
<div style="clear:both;"></div>
{% endif %}

{% if system.build_attribute %}
  <dt>Support Tier: </dt> 
  <dd>{{ system.build_attribute.support_tier }}</dd>
  <div style="clear:both;"></div>
  <dt>Tinderbox Tree URL: </dt> 
  <dd><%= auto_link h(@system.build_attribute.tboxtree_url) %></dd>
  <div style="clear:both;"></div>
  <dt>Repository Branch: </dt> 
  <dd>{{ system.build_attribute.cvsbranch }}</dd>
  <div style="clear:both;"></div>
  <dt>Cpu Throttled?: </dt> 
  <dd>{{ system.build_attribute.cpu_throttled }}</dd>
  <div style="clear:both;"></div>
  <dt>Product Branch: </dt> 
  <dd>{{ system.build_attribute.product_branch }}</dd>
  <div style="clear:both;"></div>
  <dt>Closes Tree?: </dt> 
  <dd>{{ system.build_attribute.closes_tree }}</dd>
  <div style="clear:both;"></div>
  <dt>Support Doc: </dt> 
  <dd><%= auto_link h(@system.build_attribute.support_doc) %></dd>
  <div style="clear:both;"></div>
{% endif %}

</div><div>

<dl class="show">
<dt>Notes: </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;"><pre style='width: 700px; white-space: normal;'>{{ system.notes }}</pre></dd>
<div style="clear:both;"></div>
</dl>

<div style="clear:both;"></div>
<dl class="show">
<dt>Interfaces (for DNS): </dt>
    <table>
    <tr><th>Int</th><th>MAC</th><th>FQDN</th><th>IP Address</th><th>DHCP</th><th>DNS</th><th>Action</th></tr>
    {% for intr in interfaces %}
        <tr>
        <td>{{ intr.interface_name() }}</td>
        <td>{{ intr.mac }}</td>
        {% if intr.label == "" %}
        <td><a href='{{ intr.domain.get_absolute_url() }}'>{{intr.fqdn}}</a></td>
        {% else %}
        <td>{{ intr.label }}.<a href='{{ intr.domain.get_absolute_url() }}'>{{ intr.domain }}</a></td>
        {% endif %}
        <td>{{ intr.ip_str }} <a href='{{ intr.reverse_domain.get_absolute_url() }}'>View Domain</a> <a target="_blank" style='cursor:pointer;' rel='{{intr.ip_str}}|{{intr.ip_type}}' class="goto_range">View Range</a></td>
        <td>{{ intr.dhcp_enabled }}</td>
        <td>{{ intr.dns_enabled }}</td>
        <td><a href='{{ intr.get_edit_url() }}'>Edit</a> <a href='{{ intr.get_delete_url() }}'>Delete</a></td>
        </tr>
    {% endfor %}
    </table>
</pre></dd>
<div style="clear:both;"></div>
<a class="system_add_interface" href="/core/interface/{{system.pk}}/create/">Add Interface</a>
<a class="system_quick_add_interface" href="/core/interface/{{system.pk}}/quick_create/">Quick Add Interface</a>
<a class="system_add_interface_combined" href="">Combined Jquery Add</a>
</dl>

</div>
<dl class="show">
<dt>Key/Value Store (without network adapters): </dt>
<dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;">
<pre>
    <table>
    <tr><th>Key</th><th>Value</th></tr>
    {% for key in key_values %}
        <tr><td>{{key.key}}</td><td>{{ key.value }}</td></tr>
    {% endfor %}
    </table>

</pre></dd>
<div style="clear:both;"></div>
</dl>
</div>
{% if not read_only %}
<div>

    <dl class="show">
        <dt>Licenses: </dt>
        <dd style="float:left; font-size:medium; margin: 3px 0 0 -3px;"><pre>{{ system.licenses }}</pre></dd>
        <div style="clear:both;"></div>
    </dl>
</div>
{% endif %}

<div style="clear:both;"></div>
{% if not read_only %}
<a href="{{ "systems.views.system_edit"|url(system.id) }}">Edit</a>
{% endif %}
<a href="{{ "systems.views.home"|url() }}">Back</a>
<script type='text/javascript'>
    function goto_range(ip_str, ip_type){
        $.get('/core/range/find_range/?ip_str='+ip_str+'&ip_type=' + ip_type, do_redirect);
    }
    function do_redirect(e) {
        var obj = jQuery.parseJSON(e);
        if (obj.success){
            window.open(obj.redirect_url);
        } else {
            alert(obj.message);
        }
    }

    $(document).ready(function() {

        $("a.goto_range").click(function (){
            var args = $(this).attr("rel").split('|');
            var ip_str = args[0];
            var ip_type = args[1];
            $.get('/core/range/find_range/?ip_str='+ip_str+'&ip_type=' + ip_type, do_redirect);
        });

        $(".system_add_interface_combined").click(function(){
                var d = $( "#add-dialog" ).dialog({
                        title: 'Associate to System',
                        autoShow: false,
                        buttons: {
                            "Save": function() {
                            $.post('/core/interface/combine_a_ptr_to_interface/' + addr_pk + '/' + ptr_pk + '/',
                                { 'is_ajax': '1', 'system_hostname': $("#system_search").val() },
                                function(data){
                                    var obj = jQuery.parseJSON(data);
                                    if(obj.success == true){
                                        update_link($("a[rel=" + the_rel + "]"), obj.id, obj.hostname);
                                    } else {

                                        alert(obj.error);

                                    }
                                });
                                
                                $( this ).dialog( "close" );
                            },
                            Cancel: function() {
                                $( this ).dialog( "close" );
                            }
                        }
                        
                        });
                d.show();
                return false;
            // end of .system_quick_add_interface.click()
        });
        $(".system_add_interface_combined").click(function(){
                $("#add_adapter_hostname").val($("#hostname_dd").html());
                $.ajax({ 
                        type: "GET", 
                        url: "/en-US/systems/get_all_ranges_ajax/",
                        data: "{}", 
                        contentType: "application/json; charset=utf-8", 
                        dataType: "json", 
                        beforeSend: function(){ 
                                $("#add_adapter_range").get(0).options[0] = new Option("Loading...", "");    
                        },
                        success: function(msg) { 
                                $("#add_adapter_range").get(0).options.length = 0; 
                                $("#add_adapter_range").get(0).options[0] = new Option("Select Range", "");    
                                $.each(msg, function(index, item) { 
                                    $("#add_adapter_range").get(0).options[$("#add_adapter_range").get(0).options.length] = new Option(item.display, item.id);
                                }); 
                        }, 
                        error: function() { 
                            alert("Failed to load racks"); 
                        } 
                    }); 
                                var d = $( "#add-dialog" ).dialog({
                                        title: 'Add Adapter to System',
                                        autoShow: true,
                                        width: 700,
                                        buttons: {
                                            "Save": function() {
                                            $.post('/core/interface/combine_a_ptr_to_interface/' + addr_pk + '/' + ptr_pk + '/',
                                                { 'is_ajax': '1', 'system_hostname': $("#system_search").val() },
                                                function(data){
                                                    var obj = jQuery.parseJSON(data);
                                                    if(obj.success == true){
                                                        update_link($("a[rel=" + the_rel + "]"), obj.id, obj.hostname);
                                                    } else {

                                                        alert(obj.error);

                                                    }
                                                });
                                                
                                                $("#add_adapter_range").get(0).options.length = 0; 
                                                $( this ).dialog( "close" );
                                            },
                                            Cancel: function() {
                                                $("#add_adapter_range").get(0).options.length = 0; 
                                                $( this ).dialog( "close" );
                                            }
                                        },
                                        close: function(event, ui){
                                            $("#add_adapter_range").get(0).options.length = 0; 

                                        }
                                        
                            });
                            d.show();
                return false;
            // end of .system_quick_add_interface.click()
            });
        });
</script>
<div id="add-dialog" title="Add System to Rack" style='display: none; width: 700px;'>
    <table>
        <tr><td colspan="2">Hostname: <input type='text' name='add_adapter_hostname' id='add_adapter_hostname' style='width: 159px;' value=''></td></tr>
        <tr><td colspan="2">IP Address: <input type='text' name='add_adapter_ip_address' id='add_adapter_ip_address' style='width: 159px;' value=''></td></tr>
        <tr><td colspan="2">Mac Address: <input type='text' name='add_adapter_mac_address' id='add_adapter_mac_address' style='width: 159px;' value=''></td></tr>
        <tr><td>Enable DHCP:</td><td><input type='checkbox' name='add_adapter_dhcp' id='add_adapter_dhcp' style='width: 159px;' value='1'></td></tr>
        <tr><td>Enable DNS:</td><td><input type='checkbox' name='add_adapter_dns' id='add_adapter_dns' style='width: 159px;' value='1'></td></tr>
        <tr><td>Public DNS:</td><td><input type='checkbox' name='add_adapter_public' id='add_adapter_public' style='width: 159px;' value='1'></td></tr>
        <tr><td>Private DNS:</td><td><input type='checkbox' name='add_adapter_private' id='add_adapter_private' style='width: 159px;' value='1'></td></tr>
        <tr><td colspan="2">Range: <select id='add_adapter_range' name='add_adapter_range'></select></td></tr>
    </table>
</div>
{% endblock %}
{% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.11.custom.min.js"></script>
    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.11.custom.css" type="text/css" />
{% endblock %}
