{% extends "core/core_base.html" %}

{% block title %}
    {{ form_title }}
{% endblock %}

{% block header %}
    {{ form_title }}
{% endblock %}

{% block core_content %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/javascripts/master_form_utils.js"></script>

    <link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.11.custom.css" type="text/css" />
    <style>
        div.form-message {
            text-align: center;
            display: block;
            height: 20px;
            vertical-align: top;
            border:100px, 100px, 100px, 100px;
        }
    </style>
    <script>
        $(document).ready(function(){
            $.each($('.do-select'), function (index, select){
                $(select).click(function (){
                                $.get('/mozdns/record/ajax_form/',
                                    {
                                        'record_type': $(select).attr('value'),
                                        'record_pk': '',
                                    },
                                    function (data) {
                                        $('#current_form_data').empty();
                                        $('#current_form_data').append(data);
                                        bind_smart_names();
                                        bind_record_search_box();
                                    } // end get() handler
                                ); // end get()
                            }); // end click()
            });

            var initial_record_type = $('#record_type').attr('value');
            var initial_record_pk = $('#record_pk').attr('value');
            // Do initial form load
            if (initial_record_type !== '' && initial_record_pk !== '') {
                $.get('/mozdns/record/ajax_form/',
                    {
                        'record_type': initial_record_type,
                        'record_pk': initial_record_pk,
                    },
                    function (data) {
                        $('#current_form_data').empty();
                        $('#current_form_data').append(data);
                        if (initial_record_type === '' && initial_record_pk === ''){
                            // Only bind smart names if the user isn't editing a
                            //existing record.
                            bind_smart_names();
                            bind_record_search_box();
                        } else {
                            fix_css();
                            bind_record_search_box();
                        }
                    } // end get() handler
                ); // end get()
            } else {
            // We have the url inventory.mozilla.com/#record_type=A&record_pk=22
            // This is used to pass around serches on the web. If we detect these paramters in the
            // hash, we use that data as the initial data.
                var prmarr = window.location.hash.split('&');
                var params = {};
                for ( var i = 0; i < prmarr.length; i++) {
                    var tmparr = prmarr[i].split("=");
                    if (tmparr[0][0] === '#'){
                        tmparr[0] = tmparr[0].substring(1,tmparr[0].length);
                    }
                    params[tmparr[0]] = tmparr[1];
                }
                if (params.record_type !== '' && params.record_pk !== ''){
                    $('#select_'+params.record_type).attr('selected', 'selected');
                    console.log('#select_'+params.record_type);
                    $.get('/mozdns/record/ajax_form/',
                        {
                            'record_type': params.record_type,
                            'record_pk': params.record_pk,
                        },
                        function (data) {
                            $('#current_form_data').empty();
                            $('#current_form_data').append(data);
                            if (initial_record_type === '' && initial_record_pk === ''){
                                // Only bind smart names if the user isn't editing a
                                //existing record.
                                bind_smart_names();
                                bind_record_search_box();
                            } else {
                                fix_css();
                                bind_record_search_box();
                            }
                        } // end get() handler
                    ); // end get()
                } else {
                    $("#rec_type_select option:selected").click();
                }
            }

            $('#current_form').submit(function (){
                    $('#form-message').html("<p>Sending data...</p>");
                    var start = new Date().getTime();
                    $.post('/mozdns/record/',
                            $('#current_form').serialize(),
                            function (data) {
                                $('#current_form_data').empty();
                                $('#current_form_data').append(data);
                                bind_smart_names();
                                bind_record_search_box();
                                var end = new Date().getTime();
                                var time = end - start;
                                $('#action-time').html('('+time/1000+' seconds)');

                            })
                    return false;
            }); // end submit()

            function bind_smart_names(){
                // Look for inputs that have id = 'id_fqdn' | 'id_target' | server . Make these smart names.
                var inputs = $('input');
                inputs.length;
                for (var x = 0; x < inputs.length; x++){
                    if(inputs[x].id === 'id_fqdn' || inputs[x].id === 'id_target' || inputs[x].id === 'id_server'){
                        make_smart_name_get_domains(inputs[x], true)
                        $(inputs[x]).css('width', '400px');
                    }
                }
            }
            function bind_record_search_box(){
                // We also need bind an auto complete to the search field for this specifc record type.
                $( "#record_search" ).autocomplete({
                    minLength: 2,
                    source:'/mozdns/record/ajax_search/?record_type='+$('#rec_type_select option:selected').attr('value'),
                    select: function( event, ui ) {
                        // Save the selected pk so we can use it if the user decides to edit the record.
                        $('#search-dialog').attr('stage_pk', ui.item.pk);
                    }
                });
            }
            function bind_record_soa_search_box(){
                // We also need bind an auto complete to the search field for this specifc record type.
                $( "#soa_search" ).autocomplete({
                    minLength: 2,
                    source:'/mozdns/record/ajax_search/?record_type=SOA',
                    select: function( event, ui ) {
                        // Save the selected pk so we can use it if the user decides to edit the record.
                        console.log('Using: '+ui.item.pk);
                        $('#search-soa-dialog').attr('stage_soa_pk', ui.item.pk);
                    }
                });
            }
            bind_record_soa_search_box();
            function fix_css(){
                // Look for inputs that have id = 'id_fqdn' | 'id_target' | 'id_server'. Fix their width.
                var inputs = $('input');
                inputs.length;
                for (var x = 0; x < inputs.length; x++){
                    if(inputs[x].id === 'id_fqdn' || inputs[x].id === 'id_target' || inputs[x].id === 'id_server'){
                        make_smart_name(inputs[x], {{domains}}, true)
                        $(inputs[x]).css('width', '400px');
                    }
                }
            }
            // Setup search
            $('#launch-search').click(function(){
            var s_dialog = $( "#search-dialog" ).dialog({
                        title: 'Search '+$('#rec_type_select option:selected').attr('value')+' records',  // Click the selected record
                        autoShow: false,
                        minWidth: 520,
                        buttons: {
                            "Edit Record": function() {
                                //$( this ).dialog( "close" );
                                // Ok, they want to edit the record. Get the saved pk (happened when the user 'selected' from the
                                // drop down, and request that objects form and replace the current form.
                                $.get('/mozdns/record/ajax_form/',
                                    {
                                        'record_type':$('#rec_type_select option:selected').attr('value'),
                                        'record_pk': $('#search-dialog').attr('stage_pk'),
                                    },
                                    function (data) {
                                        $('#current_form_data').empty();
                                        $('#current_form_data').append(data);
                                        $('#record_search').attr('value',''); // Clear the users selection.
                                        fix_css();
                                        // Notice how we don't call bind_smart_names here. We don't want the autocomplete to get in the way
                                        // It's likely that they are just making a small change.
                                    });
                                $(this).dialog("close");
                            },
                            cancel: function() {
                                $('#search-dialog').attr('stage_pk', ''), // we don't want this anymore.
                                $(this).dialog("close");
                            }
                        }
                    });
                s_dialog.show();
            });
            $('#launch-soa-search').click(function(){
                var soa_dialog = $( "#search-soa-dialog" ).dialog({
                            title: 'Search for a BIND file',  // Click the selected record
                            autoShow: true,
                            minWidth: 520,
                            buttons: {
                                "View ZONE file": function() {
                                    //$( this ).dialog( "close" );
                                    // Ok, they want to edit the record. Get the saved pk (happened when the user 'selected' from the
                                    // drop down, and request that objects form and replace the current form.
                                    window.open('/mozdns/bind/build_debug/'+$('#search-soa-dialog').attr('stage_soa_pk')+'/');
                                    $(this).dialog("close");
                                },
                                cancel: function() {
                                    $('#search-dialog').attr('stage_soa_pk', ''), // we don't want this anymore.
                                    $(this).dialog("close");
                                }
                            }
                        });
                soa_dialog.show();
            });
            $('#reset').click(function(){
                $.get('/mozdns/record/ajax_form/',
                    {
                        'record_type':$('#rec_type_select option:selected').attr('value'),
                        'record_pk': '',
                    },
                    function (data) {
                        $('#current_form_data').empty();
                        $('#current_form_data').append(data);
                        $('#record_search').attr('value',''); // Clear the users selection.
                        bind_smart_names();
                        bind_record_search_box();
                    });

            });

        });
    </script>
    <style>
    .record_form {
        display: none;
    }
    </style>
    <select id="rec_type_select">
        {% if record_type == 'A' or record_type == 'AAAA' %}
        <option class='do-select' value="A" id="select_A"selected="selected">A/AAAA</option>
        {% else %}
        <option class='do-select' value="A">A/AAAA</option>
        {% endif %}
        {% if record_type == 'MX' %}
        <option class='do-select' value="MX" id="select_MX" selected="selected">MX</option>
        {% else %}
        <option class='do-select' id="select_MX" value="MX">MX</option>
        {% endif %}
        {% if record_type == 'SRV' %}
        <option class='do-select' value="SRV" id="select_SRV" selected="selected">SRV</option>
        {% else %}
        <option class='do-select' value="SRV" id="select_SRV">SRV</option>
        {% endif %}
        {% if record_type == 'TXT' %}
        <option class='do-select' value="TXT" id="select_TXT" selected="selected">TXT</option>
        {% else %}
        <option class='do-select' value="TXT" id="select_TXT">TXT</option>
        {% endif %}
        {% if record_type == 'PTR' %}
        <option class='do-select' value="PTR" id="select_PTR" selected="selected">PTR</option>
        {% else %}
        <option class='do-select' value="PTR" id="select_PTR">PTR</option>
        {% endif %}
        {% if record_type == 'CNAME' %}
        <option class='do-select' value="CNAME" id="select_CNAME" selected="selected">CNAME</option>
        {% else %}
        <option class='do-select' value="CNAME" id="select_CNAME">CNAME</option>
        {% endif %}
    </select>

    <input type='button' id='launch-search' value='Edit an existing record' style='display:inline;'/>
    <input type='button' id='launch-soa-search' value='View BIND file' style='display:inline;'/>
    <input type='button' id='reset' value='Reset' style='display:inline;'/>
    <div id="search-dialog" title="Search For Record" style='display: none;'>
        <div>
            <label for='record_search'>Search:
                <input type='text' name='record_search' id='record_search' style='width: 400px;' value=''/>
            </label>
        </div>
    </div>
    <div id="search-soa-dialog" title="Search a BIND file (will open in new tab)" style='display: none;'>
        <div>
            <label for='soa_search'>Search:
                <input type='text' name='soa_search' id='soa_search' style='width: 400px;' value=''/>
            </label>
        </div>
    </div>

    <form id='current_form'>
        <div id='current_form_data'>
            <!-- This is here so the form can be populated with initial values
            via GET parameters -->
            <input type="hidden" id="record_type" name="record_type" value="{{record_type}}"/>
            <input type="hidden" id="record_pk" name="record_pk" value="{{record_pk}}"/>
        <div>
    </form>
{% endblock %}
