{% extends "mozdns/mozdns_detail.html" %}

{% block dns_content %}
    {% block title %}
        {{ object.comment }}
    {% endblock %}



    {{ super() }}

    {% from "mozdns/tables.html" import render_table %}
    {% if soa.domain_set.all().exists() %}
        {% if soa.domain_set.all()[0].is_reverse %}
            <p><a href='/mozdns/bind/reverse/{{ soa.pk }}/build/'>See compiled BIND file for this Zone</a></p>
        {% else %}
            <p><a href='/mozdns/bind/forward/{{ soa.pk }}/build/'>See compiled BIND file for this Zone</a></p>
        {% endif %}
    {% endif %}

    {% if dom_matrix %}
        <h3> Domains </h3>
        {{ render_table(dom_headers, dom_matrix, dom_urls, views=False) }}
    {% endif %}

    {% if rdom_matrix %}
        <h3> Reverse Domains </h3>
        {{ render_table(rdom_headers, rdom_matrix, rdom_urls, views=False) }}
    {% endif %}

{% endblock %}
