/*credit --> http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu*/
.nav-bar  {
    display: inline;
}
.nav-bar ul {
    margin:0px;
}
.nav-bar ul ul {
    display: none;
}

.nav-bar ul li:hover > ul {
    display: block;
    z-index: 200;
}

.nav-bar ul {
    background: #efefef;
    background: linear-gradient(top, #222 0%, #222 100%);
    background: -moz-linear-gradient(top, #222 0%, #222 100%);
    background: -webkit-linear-gradient(top, #222 0%, #222 100%);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 13px;
    list-style: none;
    position: relative;
    display: inline-table;
}

.nav-bar ul:after {
    content: ""; clear: both; display: block;
}
.nav-bar ul li {
    float: left;
}
.nav-bar ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
.nav-bar ul li:hover a {
    color: #fff;
}

.nav-bar ul li a {
    display: block; padding: 13px 40px;
    color: #757575; text-decoration: none;
}
.nav-bar ul ul {
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
.nav-bar ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
    height: 40px;
}
.nav-bar ul ul li a {
    padding: 12px 40px;
    color: #fff;
}

.nav-bar ul ul li a:hover {
    background: #4b545f;
}

