{% extends "core/core_base.html" %}
{% block core_content %}
<script src="{{ MEDIA_URL }}javascripts/jquery-1.6.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.11.custom.min.js"></script>
<link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.11.custom.css" type="text/css" />

<style type="text/css">
.center{
    text-align: center;
}
</style>
<script type="text/javascript">
    $(document).ready(function() {
        function get_and_display_search(){
            search = document.getElementById('id_search').value;
            window.location.hash = '#q='+search;
            $('#results').html('<p>Please wait while we retrieve your results...<p>');
            var start = new Date().getTime();

            $.get('/core/search/search_ajax?search='+escape(search),
            function update_results(data){
                // First make the banner go away. Then push everthing to the left... just like google.
                $('#banner_text').empty();
                $('#results').html('');
                $('#banner_area').css('text-align', 'left');
                $('.banner').css('margin-bottom', '10px');
                $('#btn_i').remove();
                results = document.getElementById('results');
                results.innerHTML = data;

                var end = new Date().getTime();
                var time = end - start;
                $('#search-time').html('In ('+time/1000+' seconds)');
            });
        }

        $('#btn_s').click(function (){
                get_and_display_search();
        });
        $('#btn_i').click(function (){
                get_and_display_search();
        });
        // hash, we use that data as the initial data.
        var prmarr = window.location.hash.split('&');
        var params = {};
        if (prmarr != ""){
            console.log("Auto searching");
            for ( var i = 0; i < prmarr.length; i++) {
                var tmparr = prmarr[i].split("=");
                if (tmparr[0][0] === '#'){
                    tmparr[0] = tmparr[0].substring(1,tmparr[0].length);
                }
                params[tmparr[0]] = tmparr[1];
            }
            $('#id_search').attr('value', params.q);
            get_and_display_search();
        }
    });
</script>
<div id="banner_area" class="banner center">
    <div id='banner_text'><h1>Inventory</h1></div>
    <input class='search_tools' id="id_search" type="text" size="50" name="search" value="{{ search }}" autofocus="autofocus" style='margin-bottom; 20px'>
    <div style='display:block;'></div>
    <input class='search_tools' value="Search" title="Search" type="button" id="btn_s">
    <input value="I'm Feeling Lucky" title="I'm Feeling Lucky" name="lucky" type="submit" id="btn_i">
    <input class='search_tools' value="Help" title="Help" type="button" id="help_button">
</div>
<div id="results">
</div>
{% include 'search/core_search_help.html' %}
{% endblock %}
