{% extends "base.html" %}


{% block site_tabs %}
        <div class="dns-menu">
                <div class="logo"><a href="/"><i class="icon-glass"></i></a></div>

                <!-- Core NAV -->
                        <span class="nav-item">
                            <a class="nav-link" href="/core/search/">Search</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/core/site/">Site</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/core/network/">Network</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/core/network/wizard_create/">Network Wizard</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/core/vlan/">Vlan</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="/core/range/">Range</a>
                        </span>
        </div>
{% endblock %}

<div class='dns-title'>
{% block title %} {% endblock %}
</div>

{% block content %}
<div class='dns-content'>
{% block core_content %} {% endblock %}
</div>
{% endblock %}
