{% macro display_networks(networks, vlan=True, caption="Networks", first_header="Network", ignore_empty=True, extra_style='') -%}
    {% if networks or not ignore_empty %}
        <table class="tablesorter network-table" style="{{extra_style}}">
            <caption>{{caption}}</caption>
            <thead>
            <tr>
                    <th>{{first_header}}</th>
                    {% if vlan %}
                    <th>Vlan</th>
                    {% endif %}
                    <th>Site</th>
            </tr>
            </thead>
            {% for network in networks %}
            <tr>
                <td><a href='{{ network.get_absolute_url() }}'>{{ network }}</a></td>
                {% if vlan %}
                    {% if network.vlan %}
                        <td><a href='{{ network.vlan.get_absolute_url() }}'>{{ network.vlan }}</a></td>
                    {% else %}
                        <td>None</td>
                    {% endif %}
                {% endif %}
                {% if network.site %}
                    <td><a href='{{ network.site.get_absolute_url() }}'>{{ network.site }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
    {% endif %}
{%- endmacro %}

{% macro display_ranges(ranges, vlan=True, caption="Ranges", first_header="", ignore_empty=True, extra_style='', id='range-table') -%}
    {% if ranges or not ignore_empty %}
        <table id='{{id}}' class="tablesorter" style="{{extra_style}}">
            <caption>{{caption}}</caption>
        <thead>
            <tr>
                    <th>Network</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Name</th>
            </tr>
        </thead>

        <tbody>
            {% for r in ranges %}
            <tr>
                <td><a href='{{r.network.get_absolute_url()}}'}}>{{ r.network }}</a></td>
                <td><a href='{{ r.get_absolute_url() }}'>{{ r.start_str }}</a></td>
                <td><a href='{{ r.get_absolute_url() }}'>{{ r.end_str }}</a></td>
                <td>{{ r.name }}</td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
    {% endif %}
{%- endmacro %}

{% macro display_kv(kvs, caption="Key Value Store", obj=None, kv_type=None) -%}
    {% if kvs %}
    <table class="tablesorter">
        <caption>{{caption}}</caption>
        {% if kvs %}
            <th>Key</th>
            <th>Value</th>

            {% for kv in kvs %}
                <tr>
                    <td>{{kv.key}}</td>
                    <td>{{kv.value}}</td>
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td>It's</td>
                    <td>Empty!</td>
                </tr>
        {% endif %}
    </table>
        {% if kv_type and obj %}
            <div style='margin-bottom:2em;'>
                <span><a href='/core/keyvalue/{{obj.__class__.keyvalue_set.related.model.__name__.lower()}}/{{obj.pk}}/'>Edit</a> Key Value Store</span>
            </div>
        {% endif %}
    {% else %}
        {% if kv_type and obj %}
            <br />
            <div style='margin-bottom:2em;'>
                <span><a href='/core/keyvalue/{{obj.__class__.keyvalue_set.related.model.__name__.lower()}}/{{obj.pk}}/'>Add</a> to Key Value Store</span>
            </div>
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro display_details(details, caption="Attributes", obj=None, show_edit=False) -%}
    <table class="tablesorter">
        <caption>{{caption}}</caption>
        <th>Attribute</th>
        <th>Value</th>
        {% for detail in details %}
            <tr>
                <td>{{detail[0]}}</td>
                <td>{{detail[1]}}</td>
            </tr>
        {% endfor %}
    </table>
    {% if obj and show_edit %}
        <div style='margin-bottom:2em;'>
            <span><a href='{{obj.edit_url()}}'>Edit</a> {{obj}}</span>
        </div>
    {% endif %}
{%- endmacro %}

{% macro display_obj_field(obj, field_name, value, draw_row=True, top_row=False, class='field-blank') %}
    {% if draw_row %}
        <tr>
    {% endif %}
    <td class='field-name' align='right'>
        {% if obj %}
            <a class='field-link' href='{{ obj.get_absolute_url() }}'>{{ field_name }}</a>
        {% else %}
            {{ field_name }}
        {% endif %}
    </td>
    <td class='field-value' align='left'>
        {{ value }}
    </td>
    {% if draw_row %}
        </tr>
    {% endif %}
{%- endmacro %}

{% macro display_views(obj, field_name, views, draw_row=True, top_row=False, class='field-blank') %}
    {% if draw_row %}
        <tr>
    {% endif %}
    <td class='field-name' align='right'>
        {% if obj %}
            <a class='field-link' href='{{ obj.get_absolute_url() }}'>{{ field_name }}</a>
        {% else %}
            {{ field_name }}
        {% endif %}
    </td>
    <td class='field-value' align='left'>
        {% for view in views %}
            <span class='inline-list'>{{ view.name }}</span>
        {% endfor %}
    </td>
    {% if draw_row %}
        </tr>
    {% endif %}
{%- endmacro %}

{% macro display_sreg(sreg) -%}
    {{ display_obj_field(sreg, 'fqdn', sreg.fqdn, top_row=True) }}
    {{ display_obj_field(sreg, 'inet4 addr' if sreg.ip_type == '4' else 'inet6 addr', sreg.ip_str) }}
    {{ display_views(sreg, 'views', sreg.views.all()) }}
    {{ display_obj_field(sreg.range, 'range', sreg.range or 'N/A') }}
    {{ display_obj_field(sreg.network, 'network', sreg.network or 'N/A') }}
    {{ display_obj_kv(sreg) }}
{%- endmacro %}

{% macro display_obj_kv(obj) -%}
    {% for kv in obj.keyvalue_set.all().order_by('key') %}
        <tr>
            <td class='field-name'>
                <a class='field-link' href='{{obj.get_kv_url()}}'>{{kv.key}}</a>(kv)
            </td>
            <td class='field-value'>
                {{kv.value}}
            </td>
        </tr>
    {% endfor %}
{%- endmacro %}

{% macro display_hwadapters(hwadapters) -%}
    {% for hw in hwadapters %}
        <table class="hwadapter tablesorter">
            <caption>
                {% if hw.name %}
                    Hardware Adapter {{hw.name}}
                {% else %}
                    Hardware Adapter {{loop.index}}
                {% endif %}
                <span class='hwadapter-action'>
                    <a class='delete-hwadapter' data-hwadapter-pk='{{hw.pk}}' style='cursor:pointer'>Delete</a> |
                    <a class='edit-hwadapter' data-hwadapter-pk='{{hw.pk}}' href='{{hw.get_edit_url()}}'>Edit</a> |
                    <a href='/core/keyvalue/{{hw.__class__.keyvalue_set.related.model.__name__.lower()}}/{{hw.pk}}/'>Key Value</a>
                </span>
            </caption>
            <thead>
            </thead>
            <tbody>
            {{ display_obj_field(hw, 'mac', hw.mac, top_row=True) }}
            {{ display_obj_field(hw, 'name', hw.name) }}
            {{ display_obj_field(hw, 'group', hw.group or 'None') }}
            {{ display_obj_kv(hw) }}
            </tbody>
        </table>
    {% endfor %}
{%- endmacro %}

{% macro display_sregs(sregs) -%}
    <link href="/static/stylesheets/registration_display.css" rel="stylesheet" type="text/css">
    <br />
    {% for sreg in sregs %}
        <div>
            <div>
                <table class="registration-table tablesorter">
                    <caption>
                        {% if sreg.name %}
                            StaticRegistration {{ sreg.name }}
                        {% else %}
                            StaticRegistration {{ loop.index }}
                        {% endif %}
                        <span class='sreg-action'>
                            <a class='add-hwadapter' data-sreg-pk='{{sreg.pk}}'>Add Hardware Adapter</a> |
                            <a href='{{sreg.get_edit_url()}}'>Edit</a> |
                            <a href='/core/keyvalue/{{sreg.__class__.keyvalue_set.related.model.__name__.lower()}}/{{sreg.pk}}/'>Key Value</a>
                        </span>
                    </caption>
                    <thead>
                    </thead>
                    <tbody>
                    {{ display_sreg(sreg) }}
                    </tbody>
                </table>
            </div>
            <div class='hwadapter-display'>
                {{ display_hwadapters(sreg.hwadapter_set.all()) }}
            </div>
        </div>
    {% endfor %}
{%- endmacro %}
