{% macro display_networks(networks, vlan=True, caption="Networks", first_header="Network", ignore_empty=True, extra_style='') -%}
    {% if networks or not ignore_empty %}
        <table class="tablesorter" style="{{extra_style}}">
            <caption>{{caption}}</caption>
            <tr>
                    <th>{{first_header}}</th>
                    {% if vlan %}
                    <th>Vlan</th>
                    {% endif %}
                    <th>Site</th>
            </tr>

            {% for network in networks %}
            <tr>
                <td><a href='{{ network.absolute_url() }}'>{{ network }}</a></td>
                {% if vlan %}
                    {% if network.vlan %}
                        <td><a href='{{ network.vlan.absolute_url() }}'>{{ network.vlan }}</a></td>
                    {% else %}
                        <td>None</td>
                    {% endif %}
                {% endif %}
                {% if network.site %}
                    <td><a href='{{ network.site.absolute_url() }}'>{{ network.site }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
    {% endif %}
{%- endmacro %}

{% macro display_ranges(ranges, vlan=True, caption="Ranges", first_header="", ignore_empty=True, extra_style='', id='range-table') -%}
    {% if ranges or not ignore_empty %}
        <table id='{{id}}' class="tablesorter" style="{{extra_style}}">
            <caption>{{caption}}</caption>
        <thead>
            <tr>
                    <th>Network</th>
                    <th>Type</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Usage</th>
            </tr>
        </thead>

        <tbody>
            {% for r in ranges %}
            <tr>
                <td><a href='{{r.network.absolute_url()}}'}}>{{ r.network }}</a></td>
                <td>{{ r.get_rtype_display() }}</td>
                <td><a href='{{ r.absolute_url() }}'>{{ r.start_str }}</a></td>
                <td><a href='{{ r.absolute_url() }}'>{{ r.end_str }}</a></td>
                <td>{{ r.range_usage()['precent_used'] }}</td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
    {% endif %}
{%- endmacro %}

{% macro display_kv(kvs, caption="Key Value Store", obj=None, kv_type=None) -%}
    <table class="tablesorter">
        <caption>{{caption}}</caption>
        {% if kvs %}
            <th>Key</th>
            <th>Value</th>

            {% for kv in kvs %}
                <tr>
                    <td>{{kv.key}}</td>
                    <td>{{kv.value}}</td>
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td>It's</td>
                    <td>Empty!</td>
                </tr>
        {% endif %}
    </table>
        {% if kv_type and obj %}
            {% if kvs %}
                <div style='margin-bottom:2em;'>
                    <span><a href='/core/keyvalue/{{kv_type}}/{{obj.pk}}/'>Edit</a> Key Value Store</span>
                </div>
            {% else %}
                <div style='margin-bottom:2em;'>
                    <span><a href='/core/keyvalue/{{kv_type}}/{{obj.pk}}/'>Add</a> to Key Value Store</span>
                </div>
            {% endif %}
        {% endif %}
{%- endmacro %}

{% macro display_details(details, caption="Attributes", obj=None, show_edit=False) -%}
    <table class="tablesorter">
        <caption>{{caption}}</caption>
        <th>Attribute</th>
        <th>Value</th>
        {% for detail in details %}
            <tr>
                <td>{{detail[0]}}</td>
                <td>{{detail[1]}}</td>
            </tr>
        {% endfor %}
    </table>
    {% if obj and show_edit %}
        <div style='margin-bottom:2em;'>
            <span><a href='{{obj.edit_url()}}'>Edit</a> {{obj}}</span>
        </div>
    {% endif %}
{%- endmacro %}
