{% macro display_networks(networks, vlan=True) -%}
        <table class="table">
            <thead>
                    <th>Network</th>
                    {% if vlan %}
                    <th>Vlan</th>
                    {% endif %}
                    <th>Site</th>
            </thead>

            <tbody>
                {% for network in networks %}
                <tr>
                        <td><a href='{{ network.absolute_url() }}'>{{ network }}</a></td>
                    {% if vlan %}
                        {% if network.vlan %}
                            <td><a href='{{ network.vlan.absolute_url() }}'>{{ network.vlan }}</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                    {% endif %}
                    {% if network.site %}
                        <td><a href='{{ network.site.absolute_url() }}'>{{ network.site }}</a></td>
                    {% else %}
                        <td>None</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
{%- endmacro %}


{% macro draw_attrs(attrs, aa, delete_url) -%}
{#
    Parameters:

        attrs - The list of existing attrs.

        aa - The list of known validated attributes.

        delete_url - The url an AJAX request will be POSTed to when a user requests to delete the attribute.
                    The url will be {{ delete_url }}/{{ attr.pk}}/delete
#}

    <script language="Javascript" type="text/javascript" src="/static/javascripts/attribute_adder.js">
    </script>

    <input type="button" value="Add Attribute" onclick='addAttr("attrs_area","attr_",0, {{ aa | safe }});' />
    <input type="button" value="Add Adhoc (Un-Validated) Attribute" onclick='addField("attrs_area","attr_",0, 200);' />
    <br>
    <br>
    <h3>Attributes</h3>
    <b>Note</b>: <i>Order matters.</i>
        <ul id="attrs_area">
            {% for attr in attrs %}
            <li>
            <label for='attr_{{loop.index0}}_value' />{{ attr.key}}</label>
            <input name='attr_{{loop.index0}}' id='attr_{{loop.index0}}' type='hidden' value='{{attr.key}}' /> 
            <input name='attr_{{loop.index0}}_value' id='attr_{{loop.index0}}_value' type='text' value='{{attr.value}}'/>
            <a style='cursor' onclick='remove_attr("attr_{{loop.index0}}", "{{ delete_url }}/{{ attr.pk }}/delete/")'>Delete</a>
            </li>
            {% endfor %}
        </ul>
    <br/>
    <ul id="adhoc_attrs_area">
        <li></li>
    </ul>
    <!-- Let's hope we never have more that 200 attr's on an object! -->
{%- endmacro %}
