{% extends "core/core_base.html" %}
{% block head %}
    <script src="{{ MEDIA_URL }}javascripts/jquery.tablesorter/jquery.tablesorter.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".tablesorter").tablesorter();
            console.log('core list');
        });
    </script>
{% endblock %}

{% block content %}
    <div class='dns-title'>{{ object_list[0]|humanized_class_name + 's'}}</div>


    {% block action_bar %}
        {% if object_list %}
        {# The problem here is that we are getting the create url from the first object. If there is no first object, because nothing has been created, there is no way to find the create url. BUG TODO#}
        <a class="btn btn-primary" href="{{ object_list[0].get_create_url() }}">Create {{ object_list[0]|humanized_class_name }}</a>
        {% endif %}
    {% endblock %}


    <!-- Basic bootstrap table -->
    <table class="tablesorter">
        <thead>
            <tr>
                <th>{{ object_list[0]|humanized_class_name }}</th>
            </tr>
        </thead>

        <tbody>
            {% for obj in object_list %}
                <tr><td><a href='{{ obj.get_absolute_url() }}'>{{ obj }}</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
