{% extends "jinja_base.html" %}
{% block subtitle %}: Edit DHCP Scope{% endblock %}
{% block content %}
<style type="text/css">
   .error {
        font: normal 11px Lucida Grande;
        padding: 3px;
        margin: 3px;
        background-color: #ffc;
        border: 1px solid #c00;
        z-index: 500;
    } 
    input[type=text].error {
        font: normal 11px Lucida Grande;
        background-color: #FFFFFF;
        border: 1px solid #BBBBBB;
        line-height: 14px;
        padding: 1px 0 1px 0;
        color: #000000;

    }
</style>
<script src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

    $.validator.addMethod(
        "ip_address",
        function(value, element, regexp) {
            var check = false;
            return this.optional(element) || /\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/.test(value);
        },
        "Please Enter a Valid IP Address."
    );

    $.validator.addMethod(
        "ip_address_or_blank",
        function(value, element, regexp) {
            var check = false;
            return this.optional(element) || /^$|\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/.test(value);
        },
        "Please Enter a Valid IP Address, or blank for none."
    );

        $("#dhcp_edit_form").validate({
            rules: {
                domain_name: {
                    required: true
                },
                dns_server1: {
                    required: true,
                    ip_address: true
                },
                dns_server2: {
                    required: true,
                    ip_address: true
                },
                ntp_server1: {
                    required: true,
                    ip_address: true
                },
                ntp_server2: {
                    required: false,
                    ip_address_or_blank: true
                },
                pool_end: {
                    required: true,
                    ip_address: true
                },
                pool_start: {
                    required: true,
                    ip_address: true
                },
                scope_start: {
                    required: true,
                    ip_address: true
                },
                router: {
                    required: true,
                    ip_address: true
                }
            }
        });

    });
</script>
<h2>Edit DHCP Scope</h2>

<br />
{{ form.errors }}
<a href='/dhcp/override/{{dhcp_scope}}/'>DHCP Scope Manual Entries</a>
<form action='.' id="dhcp_edit_form" class='editform' method="post">
<table style="min-width: 550px;">
    {{ form.as_table() }}
    <tr><td><input type="submit" value="Edit" id="submit"></td></tr>
</table>
</form>

{% endblock %}
