{% extends "jinja_base.html" %}
{% block content %}
<script>
    function showUpgradeable($,t) {
        $("#show_upgradeable_link").hide();
        $("#hide_upgradeable_link").show();
        $("#show_upgradeable").load('{{ 'owner-upgradeable'|url() }}');
        return false;
    }
    function hideUpgradeable($,t) {
        $("#show_upgradeable").empty();
        $("#hide_upgradeable_link").hide();
        $("#show_upgradeable_link").show();
        return false;
    }
</script>
    <script src="{{MEDIA_URL }}javascripts/tablesorter.js"></script>
<div style="margin-top: 1em; float:right;">
    <form action="/en-US/owners/quicksearch/" onSubmit="return false;">
        <strong>Quick Search:</strong> <input id="quicksearch" type="text" name="quicksearch" /><input type='submit' name='submit' value='Go' />
    </form>
</div>

<a href="{{ 'owner-new'|url() }}">Create New</a> | <a id="show_upgradeable_link" href="#" onclick="return showUpgradeable($,this)">Show Upgradeable Users ({{ upgradeable_users }})</a><a style="display: none;" id="hide_upgradeable_link" href="#" onclick="return hideUpgradeable(jQuery,this)">Hide Upgradeable Users ({{ upgradeable_users }})</a>
<div style='margin-top: 12px;' id="search_hits"></div>
<div id="show_upgradeable"></div>

<br />
<table class="listtable tablesorter">
	<thead>
        <tr>
            <th>Name</th> 
            <th>Location</th> 
            <th>E-mail</th> 
            <th colspan="3">Actions</th>
        </tr>
	</thead>
    <tbody>
        {% for owner in owner_list %}
        <tr>
            <td><a href="{{ owner.get_absolute_url() }}">{{ owner }}</a></td>
            <td>{{ owner.user_location }}</td>
            <td>{{ owner.email }}</td>
            <td><a href="{{ 'owner-show'|url(owner.id) }}">Show</a></td>
            <td><a href="{{ 'owner-edit'|url(owner.id) }}">Edit</a></td>
            <td><a href="{{ 'owner-delete'|url(owner.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
	$().ready(function(){
        add_tablesorter($('.listtable')[0]);
        add_quicksearch($("#quicksearch"), $("#search_hits"), "/en-US{{ 'owners-quicksearch'|url() }}");
	});
</script>
{% endblock %}
