        {% for system in systems %}
        <tr>
            <td><a href="{{ system.owner.get_absolute_url }}">{{ system.owner }}</a></td>
            <td>{{ system.serial }}</td>
            <td>{{ system.asset_tag }}</td>
            <td>{% if system.server_model %}<a href="{% url user-system-list-by-model system.server_model.id %}">{{ system.server_model }}</a>{% endif %}</td>
            <td>{{ system.operating_system }}</td>
            <td>{{ system.notes }}</td>
            <td><a href="{% url user-system-show system.id %}">Show</a></td>
            <td><a href="{% url user-system-edit system.id %}">Edit</a></td>
            <td><a href="{% url user-system-delete system.id %}">Delete</a></td>
        </tr>
        {% endfor %}
