{% extends "core/core_base.html" %}

{% block title %}
    {{ form_title }}
{% endblock %}

{% block head %}
    {{ super() }}
    <script src="{{ MEDIA_URL }}javascripts/chosen/chosen.jquery.js" type="text/javascript"></script>
    <link rel='stylesheet' href="{{ MEDIA_URL }}javascripts/chosen/chosen.css" type="text/css" />

    <script src="{{ MEDIA_URL }}javascripts/core.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}javascripts/service-form.js" type="text/javascript"></script>
    <script>
    console.log("hi")
    </script>
     <style>
        .ui-autocomplete {
            max-height: 300px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    <form class="well form-horizontal" method="post" action="">
        {{ form.as_p() }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
