{% extends "core/core_base.html" %}


{% block core_content %}

    <span class='dns-title'>Range: Start {{ range.start_str }} End: {{ range.end_str}}</span>


    {% block action_bar %}
        {% if range.get_edit_url %}
            <a class="btn btn-primary" href="{{ range.get_edit_url() }}">Edit</a>
        {% endif %}

        {% block mid_action_bar %}
        {% endblock %}

        {% if range.get_delete_url %}
            <a class="btn btn-danger" href="{{ range.get_delete_url() }}">Delete</a>
        {% endif %}
    {% endblock %}
    <br>
    <p>This range is in the network <a href='{{ range.network.get_absolute_url()}}'>{{ range.network.network_str }}</a>
    {% if range.network.vlan %}
    , which is associated with the vlan <a href="{{ range.network.vlan.get_absolute_url() }}">{{ range.network.vlan.name }} ({{ range.network.vlan.number }})</a>
    {% endif %}

    {% if range.network.site %}
    in <a href="{{ range.network.site.get_absolute_url() }}">{{ range.network.site.get_full_name() }}</a>.
    {% else %}
    .
    {% endif %}
    <span>See <a href="/core/build/{{range.network.pk}}/">DHCP Build Output</a>.</span>
    {% if attrs %}
    <table class="table">
        <thead>
            {% for attr in attrs %}
                <th>{{ attr.key }}</th>
            {% endfor %}
        </thead>

        <tbody>
            <tr>
            {% for attr in attrs %}
                <td>{{ attr.value }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    {% endif %}

    {% if range_data %}
        <table class="table">
            <thead>
                    <th>IP</th>
                    <th>Object</th>
                    <th>Action</th>
            </thead>

            <tbody>
                {% for object in range_data %}
                    <tr>
                        <td>
                            {{ object[1] }}
                        </td>

                        {% if object[0] == "A/PTR" %}
                        <td>
                            {{ object[3].fqdn }} (<a href="{{ object[3].get_absolute_url() }}">A</a>/<a href="{{ object[2].get_absolute_url() }}">PTR</a>)
                        </td>
                        <td>
                            <b>Combine</b> <a class='combine_to_system' rel="{{ object[3].pk}}|{{ object[2].pk }}" href="/core/interface/combine_a_ptr_to_interface/{{ object[3].pk}}/{{ object[2].pk }}/">A/PTR to Interface.</a>
                        </td>
                        {% elif object[0] == "Interface" %}
                        <td>
                            Interface (<a href="{{ object[2].get_absolute_url() }}">{{ object[2].fqdn }}</a>) for System
                            <a href="{{ object[2].system.get_absolute_url() }}">{{ object[2].system }}</a>
                        </td>
                        <td>
                        </td>
                        {% elif object[0] == "A" %}
                            <td>
                                A <a href="{{ object[2].get_absolute_url() }}">{{ object[2].fqdn }}</a>
                            </td>
                        {% elif object[0] == "PTR" %}
                            <td>
                                PTR <a href="{{ object[2].get_absolute_url() }}">{{ object[2].name }}</a>
                            <td>
                        <td>
                        </td>
                        {% else %}
                        <td>
                            <b>Free</b>
                        </td>
                        <td>
                            Create <a href="/mozdns/address_record/create/?ip_str={{ object[1]}}&ip_type=4">A</a> 
                                    <a href="/mozdns/ptr/create/?ip_str={{ object[1]}}&ip_type=4">PTR</a> 
                                    <a href="/core/interface/create/?ip_str={{ object[1]}}&ip_type=4">Interface</a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
<div id="add-dialog" title="Add System to Rack" style='display: none;'>
    <div>Search: <input type='text' name='system_search' id='system_search' style='width: 159px;' value=''></div>
</div>
    <script type='text/javascript'>
        function update_link(obj, system_id, hostname){
            link_text = '<a href="/systems/show/' + system_id + '/">' + hostname + '</a>';
            obj.closest('td').prev('td').html('System ' + link_text);   
            obj.closest('td').html(' ');
        }
        $(document).ready(function() {
            $(".combine_to_system").click(function(){
                var prev_hostname = $(this).closest('td').prev('td').html().trim().split(" (")[0].replace(/\.mozilla\.com|net|org/g, '');
                $("#system_search").val(prev_hostname);
                var the_rel = $(this).attr('rel');
                var rel_arr = the_rel.split("|");
                var addr_pk = rel_arr[0];
                var ptr_pk = rel_arr[1];


                var d = $( "#add-dialog" ).dialog({
                        title: 'Associate to System',
                        autoShow: false,
                        buttons: {
                            "Save": function() {
                            $.post('/core/interface/combine_a_ptr_to_interface/' + addr_pk + '/' + ptr_pk + '/',
                                { 'is_ajax': '1', 'system_hostname': $("#system_search").val() },
                                function(data){
                                    var obj = jQuery.parseJSON(data);
                                    if(obj.success == true){
                                        update_link($("a[rel=" + the_rel + "]"), obj.id, obj.hostname);
                                    } else {

                                        alert(obj.error);

                                    }
                                });

                                $( this ).dialog( "close" );
                            },
                            Cancel: function() {
                                $( this ).dialog( "close" );
                            }
                        }

                        });
                d.show();
                return false;
            });

    var ac = $('#system_search').autocomplete({
                serviceUrl:'/en-US/systems/system_auto_complete_ajax/',
                minChars:2,
                deferRequestBy: 500,
                maxHeight:400
            });
});
</script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.autocomplete-min.js"></script>
<link rel="stylesheet" href="/static/css/smoothness/jquery-ui-1.8.11.custom.css" type="text/css" />
<style type='text/css'>
    .autocomplete-w1 { border-right: 1 px solid #F0F0F0; position:absolute; top:0px; width: 150px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
    .autocomplete { background:#FFF; cursor:default; text-align:left; max-height:350px; background-color: #FEFEFE; width: 150px; margin:-6px 6px 6px -6px;}
    .autocomplete .selected { background:#F0F0F0; }
    .autocomplete div { border-bottom: 1px solid #999; border-left: 1px solid #999; border-right: 1px solid #999; padding:2px 5px; white-space:nowrap; width: 149px; overflow:visible; background-color: #FEFEFE;}
    .autocomplete strong { font-weight:normal; color:#3399FF; }
</style>

{% endblock %}
