{% extends "mozdns/mozdns_base.html" %}

{% block dns_content %}
    <div class='dns-title'>Reverse Domains<div>

    {% block action_bar %}
        <a class="btn btn-primary" href="/mozdns/reverse_domain/create/">Create Reverse Domain</a>

        <a class="btn" href="/mozdns/reverse_domain/bootstrap_ipv6/">Bootstrap IPv6</a>
    {% endblock %}


    <!--
    Manually create table to get the special form in, can possibly refactor
    by creating a special render_table macro
    -->
    <h3>IPv4</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Master Reverse Domain</th>
                <th>SOA</th>
                <th>Delegated</th>
                <th>Inherit SOA</th>
            </tr>
        </thead>

        <tbody>
            {% for object in object_list %}
                {% if object.ip_type == '4' %}
                    <tr>
                        <th><a href="{{ object.get_absolute_url() }}">{{ object.name }}</a></th>

                        {% if object.master_reverse_domain %}
                            <th><a href="{{ object.master_reverse_domain.get_absolute_url() }}">{{ object.master_reverse_domain }}</a>
                        {% else %}
                            <th>{{ object.master_reverse_domain }}</th>
                        {% endif %}

                        {% if object.soa %}
                            <th><a href="{{ object.soa.get_absolute_url() }}">{{ object.soa }}</a></th>
                        {% else %}
                            <th>{{ object.soa }}</th>
                        {% endif %}

                        <th>{{ object.delegated }}</th>

                        <th>
                        {% if object.master_reverse_domain and object.soa != object.master_reverse_domain.soa %}
                                <form method="post" action="/mozdns/reverse_domain/{{object.pk}}/inheirit_soa/">
                                    <input type="submit" value="Inherit SOA">
                                </form>
                        {% endif %}
                        </th>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h3>IPv6</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Master Reverse Domain</th>
                <th>SOA</th>
                <th>Delegated</th>
                <th>Inherit SOA</th>
            </tr>
        </thead>

        <tbody>
            {% for object in object_list %}
                {% if object.ip_type == '6' %}
                    <tr>
                        <th><a href="{{ object.get_absolute_url() }}">{{ object.name }}</a></th>

                        {% if object.master_reverse_domain %}
                            <th><a href="{{ object.master_reverse_domain.get_absolute_url() }}">{{ object.master_reverse_domain }}</a>
                        {% else %}
                            <th>{{ object.master_reverse_domain }}</th>
                        {% endif %}

                        {% if object.master_reverse_domain %}
                            <th><a href="{{ object.soa.get_absolute_url() }}">{{ object.soa }}</a></th>
                        {% else %}
                            <th>{{ object.soa }}</th>
                        {% endif %}

                        <th>{{ object.delegated }}</th>

                        <th>
                        {% if object.master_reverse_domain and object.soa != object.master_reverse_domain.soa %}
                                <form method="post" action="/mozdns/reverse_domain/{{object.pk}}/inheirit_soa/">
                                    <input type="submit" value="Inherit SOA">
                                </form>
                        {% endif %}
                        </th>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

