<style>
    .results code {
        border:5px solid white;
    }
</style>
{% if 'error' in result %}
    <code>
        {% for error in result['error'] %}
            {{ error }}
        {% endfor %}
    </code>
{% else %}
    <table class='tablesorter results'>
        {% if save %}
            <caption><h3>Systems (all fields saved)</h3></caption>
        {% else %}
            <caption><h3>Proposed Changes</h3></caption>
        {% endif %}
    {% for bundle in result %}
        <th>
            {% if bundle['system'].pk %}
                <a href='{{ bundle['system'].get_absolute_url() }}'>{{ bundle['system'].hostname }}</a>
            {% else %}
                {{bundle['system'].hostname}} ( Not created yet )
            {% endif %}
        </th>
        <th></th>
        {% for attr in attrs %}
            {% if getattr(bundle['system'], attr) %}
                <tr>
                    <td>{{ attr }}</td>
                    <td>
                    {% if bundle['orig_system'] and
                        not getattr(bundle['orig_system'], attr) == getattr(bundle['system'], attr) %}
                        {{ getattr(bundle['orig_system'], attr) }} <b>&rarr;</b> {{ getattr(bundle['system'], attr) }}
                    {% else %}
                        {{ getattr(bundle['system'], attr) }}
                    {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td><b>Added Key Value Pairs</b></td><td></td>
        </tr>
        {% if not bundle['kvs'] %}
            <tr>
                <td><i>No KV pairs</i></td></td><td></td>
            </tr>
        {% endif %}
        {% for kv in bundle['kvs'] %}
            <tr>
                <td>{{ kv.key }}</td><td>{{ kv.value }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endif %}
