{% extends "base.html" %}
{% block content %}
    <style>
        #csv-data {
            width: 98%;
        }
        #csv-results {
            margin-top: 20px;
            background-color: white;
        }
    </style>
    <script src="{{ MEDIA_URL }}javascripts/csv_importer.js" type="text/javascript"></script>
    <div>
        <form id='csv-form'>
            <textarea id='csv-data' rows="10" cols="500" name='csv-data'>
hostname, . . .
example.mozilla.com, . . .
            </textarea>
            <input type="checkbox" name="save" value="save"><span>Write CSV data to the database</span>
            <input type="button" value="Clear CSV Data" id='clear-csv-data'>
            <input type="submit" value="Send Data">
            <br>
            </br>
        </form>
    </div>
    <div>
    <a href='/en-US/csv/format/'>CSV Field Reference</a>
    </div>
    <div id='csv-results'>
    </div>
{% endblock %}
