{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/stylesheets/csv_importer.css" type="text/css" />
    <style>
        .example-csv {
            display: block;
            font-size: 9pt;
            background-color: white;
            padding-left: 5px;
        }
        .csv-help p {
            font-size: 12pt;
        }
        .csv-help div {
            background-color:white;
        }
    </style>
    <div class='csv-help'>
        <h2>Using the CSV importer</h2>
        <p>This page should serve as a reference for CSV header values.</p>

        <p>
        <b><a href='#SA' name='System-Attributes'>System Attributes</a></b> are attributes assigned directly to a
        system. They don't have foreign keys and are usually something that can
        be stored as text or as a number.
        </p>

        <p>
        <b><a href='#MA'name='Meta-Attributes'>Meta Attributes</a></b> are used to tell the CSV parser how to handle
        the CSV. For example, the <b>primary_attribute</b> header can be used to tell the
        the CSV importer to select a system using one hostname value and replace it with a new hostname value.

        Take this example CSV:
        <p>
            <code class='example-csv'>primary_attribute%hostname,hostname</code>
            <code class='example-csv'>original-hostname.mozilla.com, new-hostname.mozilla.com</code>
        </p>
        This would find a system with the hostname
        <code>original-hostname.mozilla.com</code> and change its hostname to
        <code>new-hostname.mozilla.com</code>.
        </p>

        <p>
        <b><a href='#SR' name='System-Related-Attributes'>System Related Attributes</a></b> are attributes that <i>are</i>
        relational and correspond to another object in Inventory (like a
        SystemRack). It is important to make sure that the objects you refer to
        with realted attributes already exist before they are refered to in a
        CSV.
        </p>
        <p>
        Related objects need to be identified by search terms when they are
        assigned to a system. This means that objects that have composite keys
        will sometimes need to be filtered by multiple values. Take for example
        the <code>OperationSystem</code> class, which is determined by its
        <code>version</code> <i>and</i> its <code>name</code>.
        To specify both version and name for an operating system,
        delimit your CSV header with field names appended to the normal field
        title. For example, if you wanted to assign the
        <code>OperatingSystem</code>
        <code>'Redhat 6.2'</code>, you would need to have a CSV header like:
        </p>

        <p>
            <code class='example-csv'>      operation_system%name%version</code>
        </p>

        <p>
        Your data would need the same sort of delimiter scheme:
        </p>

        <p>
            <code class='example-csv'>        Red Hat Enterprise Linux%6.2</code>
        </p>
        <p>For a nice overview of Inventory's database scheme, see
            <a href='http://people.mozilla.com/~juber/public/inventory.png'>this picture</a>
        </p>
        <p>
            Some <b>exmaple</b> CSV documents:
        </p>
            <p>
                <code class='example-csv'>
                    hostname,system_rack%name,oob_ip,OOB_switch_&_port,nic.0.mac_address.0,system_status%status,nic.0.name.0,server_model%model
                </code>
                <code class='example-csv'>
                    foo.scl2.mozilla.com,102-19,10.22.4.208,oob1.r102-19:ge-0/0/0,ac:16:2d:87:c2:0c,production,nic0,DL385G8
                </code>
            </p>
            <p>
                <code class='example-csv'>
                    hostname,warranty_start,warranty_end,purchase_price
                </code>
                <code class='example-csv'>
                    foo.mozilla.com,2012-02-02,2014-02-2,$400
                </code>
            </p>
            <p>
                <code class='example-csv'>
                    hostname,operating_system%name%version
                </code>
                <code class='example-csv'>
                    foo.mozilla.com,Red Hat Enterprise pnux%6.2
                </code>
            </p>
        <p>
            <a href='#KV' name='KV'><b>Key Value Pairs</b></a> can be associated with a system using the key as the
            CSV header and the value as the CSV value.
        </p>
        <p>
            The following key patterns are permissible to be used as
            headers (\d+ means multiple 'digits')
        </p>
            <ul>
                {% for p in generator.r.system_kv_patterns %}
                <li>{{p}}</li>
                {% endfor %}
            </ul>
        <p>
            If you need more, please just ask as it's easy to add
            a new key/value type.
        </p>
    </div>
    <div class='system-attr'>
    <h2><a name='MA' href='#Meta-Attributes'>Meta Attributes</a></h2>
        {% for field_name, bundle in generator.meta_bundles %}
            <table class='tablesorter csv'>
                <caption>{{field_name}}</caption>
                <tr><td>Allowable headers:</td><td>{{', '.join(bundle['values'])}}</td></tr>
            <table>
        {% endfor %}
    </div>
    <div class='system-attr'>
        <h2><a name='SA' href='#System-Attributes'>System Attributes</a></h2>
        {% for field_name, bundle in  generator.system_attr_bundles %}
            <table class='tablesorter csv'>
                <caption>{{field_name}}</caption>
                <tr><td>Allowable headers:</td><td>{{', '.join(bundle['values'])}}</td></tr>
                <tr><td>Schema column name:</td><td>{{field_name}}</td></tr>
            <table>
        {% endfor %}
    </div>

    <div class='system-related'>
        <h2><a name='SR' href='#System-Related-Attributes'>System Related Attributes</a></h2>
        {% for field_name, bundle in  generator.system_related_bundles %}
            <table class='tablesorter csv'>
                <caption>{{field_name}}</caption>
                <tr><td>Allowable headers:</td><td>{{', '.join(bundle['values'])}}</td></tr>
                <tr><td>Schema column name:</td><td>{{field_name}}</td></tr>
                <tr><td>Filter names:</td><td>{{', '.join(bundle['filter_fields'])}}</td></tr>
            <table>
        {% endfor %}
    </div>
{% endblock %}
