{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/stylesheets/csv_importer.css" type="text/css" />
    <div class='csv-help'>
        <div class='system-related-doc'>
        <table class='tablesorter'>
        <td>
        <h2>Using the CSV importer</h2>
        <p>This page lists the possible csv header values that you can use when
        crafting a CSV</p>
        </p>
        <p>
        <b>System Attributes</b> are attributes assigned directly to a
        system. They don't have forien keys and are usually something that can
        be stored as text or an integer.
        </p>

        <p>
        <b>System Related Attributes</b> are attributes that <i>are</i>
        relational and correspond to another object in Inventory (like a
        SystemRack). It is important to make sure that the objects you refer to
        with realted attributes already exist before they are refered to in a
        csv.
        </p>
        </p>
        Related objects need to be identified by search terms when they are
        assigned to a system. This means that objects that have composite keys
        will sometimes need to be filtered by multiple values. Take for example
        the <code>OperationSystem</code>, which is determined by it's
        <code>version</code> <i>and</i> it's <code>name</code>.
        To specify both a version a name for an operating system,
        delimit your csv header with field names appended to the normal field
        title. For example, if you wanted to assign the OperatingSystem
        'Redhat 6.2', you would need to have a csv header like:
        </p>

        <p>
            <code>      operation_system%name%version</code>
        </p>

        <p>
        Your data would need the same sort of delimiter scheme:
        </p>

        <p>
            <code>        Red Hat Enterprise Linux%6.2</code>
        </p>
        <p>For a nice overview of Inventory's database scheme, see
            <a href='http://people.mozilla.com/~juber/public/inventory.png'>this picture</a>
        </p>
        <p>
            Some <b>exmaple</b> csv documents:
        </p>
            <p>
                <code>
                    hostname,system_rack%name,oob_ip,OOB_switch_&_port,nic.0.mac_address.0,system_status%status,nic.0.name.0,server_model%model
                    foo.scl2.mozilla.com,102-19,10.22.4.208,oob1.r102-19:ge-0/0/0,ac:16:2d:87:c2:0c,production,nic0,DL385G8
                </code>
            </p>
            <p>
                <code>
                    hostname,warranty_start,warranty_end,purchase_price
                    foo.mozilla.com,2012-02-02,2014-02-2,$400
                </code>
            </p>
            <p>
                <code>
                    hostname,operating_system%name%version
                    foo.mozilla.com,Red Hat Enterprise pnux%6.2
                </code>
            </p>
        <p>
            <b>Key Value Pairs</b> can be associated with a system using the key as the
            csv header and the value as the csv value.
        </p>
        <p>
            The keys following key patterns are permissible to be used as
            headers (\d+ means multiple 'digits')
            <ul>
                {% for p in generator.r.system_kv_patterns %}
                <li>{{p}}</li>
                {% endfor %}
            </ul>
            If you need more, please just ask as it's easy to add
            a new key/value type.
        </p>
        </td>
        </table>
        </div>
    </div>
    <div class='system-attr'>
    <h4>System Attributes</h3>
    {% for field_name, bundle in  generator.system_attr_bundles %}
        <table class='tablesorter csv'>
            <caption>{{field_name}}</caption>
            <tr><td>Allowable headers:</td><td>{{', '.join(bundle['values'])}}</td></tr>
            <tr><td>Schema column name:</td><td>{{field_name}}</td></tr>
        <table>
    {% endfor %}
    </div>

    <div class='system-related'>
    <h4>System Related Attributes</h3>
    {% for field_name, bundle in  generator.system_related_bundles %}
        <table class='tablesorter csv'>
            <caption>{{field_name}}</caption>
            <tr><td>Allowable headers:</td><td>{{', '.join(bundle['values'])}}</td></tr>
            <tr><td>Schema column name:</td><td>{{field_name}}</td></tr>
            <tr><td>Filter names:</td><td>{{', '.join(bundle['filter_fields'])}}</td></tr>
        <table>
    {% endfor %}
    </div>

    <div class='system-kv'>
        <table class='tablesorter csv' style='text-align:left'>
        <caption>Key Value Pairs</caption>
        <td style='text-align:left'>
        <p>
            Key Value pairs can be associated with a system using the key as the
            csv header and the value as the csv value.
        </p>
        <p>
            The keys following key patterns are permissible to be used as
            headers (\d+ means multiple 'digits')
            <ul>
                {% for p in generator.r.system_kv_patterns %}
                <li>{{p}}</li>
                {% endfor %}
            </ul>
            If you need more, please just ask as it's easy to add
            a new key/value type.
        </p>
        </td>
    </div>
{% endblock %}
