{% extends "core/core_base.html" %}


{% block core_content %}
    <div class='dns-title'>{{ object }}</div>

    <script language="Javascript" type="text/javascript">
        // Eventually let's blur out options when users click on certain options.
        function do_all {
            var use_existing = document.getElementById("id_create_choice_0");
            var create_new = document.getElementById("id_create_choice_1");
            var no_vlan = document.getElementById("id_create_choice_2");

            if (use_existing && create_new && no_vlan){
                alert("Valid");
                consule.log("valid form");
                use_existing.onclick = function (){ alert("Chose existing");}
            } else {
                alert("inValid");
            consule.log("invalid form");
            }
        }
    </script>

    {% block action_bar %}
        {% if object.get_edit_url %}
            <a class="btn btn-primary" href="{{ object.get_edit_url() }}">Edit</a>
        {% endif %}

        {% block mid_action_bar %}
        {% endblock %}

        {% if object.get_delete_url %}
            <a class="btn btn-danger" href="{{ object.get_delete_url() }}">Delete</a>
        {% endif %}
    {% endblock %}

        {% from "core/tables.html" import render_table %}

        <table class="table">
            <thead>
                {% for item, value in object.details() %}
                    <th>{{ item }}</th>
                {% endfor %}
            </thead>

            <tbody>
                <tr>
                {% for item, value in object.details() %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
{% endblock %}
