{% extends "core/core_base.html" %}

{% block title %}
    {{ form_title }}
{% endblock %}

{% block core_content %}

    <script language="Javascript" type="text/javascript" src="/static/javascripts/attribute_adder.js">
    </script>
    <script language="Javascript" type="text/javascript" src="/static/javascripts/dhcp_raw_include.js">
        document.onload = function (e) {
            text_area = document.getElementById("id_dhcpd_raw_include");
            text_area.style.display = 'none';
        }
    </script>
    <span class="dns-title">Edit {{ network.network_str}}</span>
    <span>Back to <a href="{{ network.get_absolute_url() }}">{{ network.network_str }}</a></span>
    <br>
    <span>See <a href="/core/build/{{network.pk}}/">DHCP Build Output</a>.</span>
    <br>
    <form class="well form-horizontal" method="post" action="">
        {{ form.as_p() }}
        <input type="button" value="Hide/Display DHCP subnet raw include." onclick='hide_text_area("id_dhcpd_raw_include")' />
        </br>
        </br>
        {% from "core/core_macros.html" import draw_attrs %}
        {{ draw_attrs(attrs, aa, "/core/network/attr") }}
        <br/>
        <br/>
        <input type="submit" value="Submit" />
        <br/>
        <br/>
        <h3>Network Attributes</h3>

        <table>
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for attr, doc in docs %}
            <tr>
                <td valign="top"><b>{{ attr }}</b></td>
                <td><span width="200px"><pre>{{ doc }}</pre></span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
    </form>
{% endblock %}
