{% extends "core/core_base.html" %}


{% block core_content %}
    <div class='dns-title'>{{ network }}</div>

    {% block action_bar %}
        {% if network.get_edit_url %}
            <a class="btn btn-primary" href="{{ network.get_edit_url() }}">Edit</a>
        {% endif %}

        {% block mid_action_bar %}
        {% endblock %}

        {% if network.get_delete_url %}
            <a class="btn btn-danger" href="{{ network.get_delete_url() }}">Delete</a>
        {% endif %}
    {% endblock %}


        <table class="table">
            <thead>
                {% for item, value in network.details() %}
                    <th>{{ item }}</th>
                {% endfor %}
                <th>Vlan</th>
                {% if network.site %}
                    <th>Site</th>
                {% endif %}
            </thead>

            <tbody>
                <tr>
                {% for item, value in network.details() %}
                    <td>{{ value }}</td>
                {% endfor %}
                    <td><a href='{{ network.vlan.get_absolute_url() }}'>{{ network.vlan }}</a></td>
                {% if network.site %}
                    <td><a href='{{ network.site.get_absolute_url() }}'>{{ network.site }}</a></td>
                {% endif %}
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                {% for attr in attrs %}
                    <th>{{ attr.key }}</th>
                {% endfor %}
            </thead>

            <tbody>
                <tr>
                {% for attr in attrs %}
                    <td>{{ attr.value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>

        <h3>Eldar Networks</h3>
        <table class="table">
            <thead>
                    <th>Network</th>
                    <th>Vlan</th>
            </thead>

            <tbody>
                {% for eldar in eldars %}
                <tr>
                    <td><a href='{{ eldar.get_absolute_url() }}'>{{ eldar }}</a></td>
                {% if eldar.vlan %}
                    <td><a href='{{ eldar.vlan.get_absolute_url() }}'>{{ eldar.vlan }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <thead>
                    <th>Sub Networks.</th>
            </thead>

            <tbody>
                {% for sub in sub_networks %}
                <tr>
                    <td><a href='{{ sub.get_absolute_url() }}'>{{ sub }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
